<article class="card-wrapper" data-open="incentives-panel-<%= club.id %>">
  <div class="card card-dashboard" data-equalizer-watch>
    <div class="card-background" style="background-image: url(<%= club.banner_image_url %>)"></div>
    <div class="card-header">
      <div class="user-avatar md"><%= yazda_image_tag club.profile_image_url %>
      </div>
    </div>
    <div class="card-info">
      <h5><%= club.name %></h5>
      <div class="duration">
        <i class="ion-android-time"></i>
        <span> Volunteered:</span><strong> <%= current_user.year_to_date_volunteers_for_club(club).sum(:hours) %></strong>
      </div>
    </div>

    <% if incentive? club, current_user %>
        <div class="club-incentive card-incentive">
          <div class="progress" role="progressbar" tabindex="0" aria-valuemin="0" aria-valuemax="100">
            <div class="pip-container">
              <% club.incentives.order(hours: :asc).each do |incentive| %>
                  <%= pip_for incentive, club, current_user %>
              <% end %>
            </div>

            <div class="progress-meter"
                 style="width: <%= incentive_percentage(club, current_user) %>"></div>
          </div>
        </div>
    <% end %>
  </div>
</article>
