<div class="container">

  <div class="expanded row banner-show">
    <div class="show-adventure-background"
         style="background-image: url(<%= @club.banner_image_url %>);"></div>
    <div class="media-object stack-for-small show-content">
      <div class="media-object-section middle">
        <div class="user-avatar profile">
          <%= yazda_image_tag @club.profile_image_url %>
        </div>
      </div>
      <div class="media-object-section middle">
        <h3 class="show-user-name"><%= @club.name %></h3>
        <h4 class="show-volunteers">Volunteers:
          <span><%= @club.users.count %></span></h4>
        <h5 class="show-website"><%= link_to @club.website,
                                             @club.website if @club.website.present? %></h5>
      </div>
    </div>
  </div>

  <div class="expanded row">
    <div class="small-12 medium-8 columns">
      <div class="club-settings-panel">
        <h4 class="panel-heading distance">
          <i class="ion-android-time"></i>
          Total Volunteer Hours:
          <span><%= @hours_count %></span>
        </h4>

        <%= button_to 'Enable Club Status',
                      enable_club_path(@club),
                      class:  'button expanded sm primary',
                      method: :patch if @club.disabled? %>
        <%= button_to 'Disable Club Status',
                      disable_club_path(@club),
                      class:  'button expanded sm secondary',
                      method: :patch if @club.enabled? %>

        <% if @club.enabled? %>
            <%= simple_form_for @club do |f| %>

                <hr></hr>

                <h4 class="panel-heading">Set Adventure Categories...</h4>
                <%= f.input :context_list,
                            label:      false,
                            hint:       '5 categories max. Type to add a categoryand press enter. Backspace to delete.',
                            input_html: {
                                placeholder: 'Type to add a tag categories for your adventures tag...',
                                value:       f.object.context_list.to_s
                            } %>
                <hr></hr>

                <div class="volunteer-incentives">
                  <h4 class="panel-heading">Set club incentives
                    <p class="help-text">Set up to 5 volunteer milestones
                      to incentivize your volunteers.</p>
                  </h4>

                  <%= f.simple_fields_for :incentives do |incentive| %>
                      <%= render 'incentives/incentive_fields', f: incentive %>
                  <% end %>

                  <div class="expanded row">
                    <div class="small-12 columns links">
                      <%= link_to_add_association 'Add Incentive', f,
                                                  :incentives,
                                                  class:   'button tiny energized',
                                                  partial: 'incentives/incentive_fields'
                      %>
                    </div>
                  </div>
                </div>

                <hr></hr>

                <div class="volunteers-submit-hours">
                  <h4 class="panel-heading">Volunteers self report hours</h4>

                  <div class="switch small">
                    <%= f.input_field :volunteers_submit_hours,
                                      class:         'switch-input',
                                      label:         '&nbsp;'.html_safe,
                                      boolean_style: :inline %>
                    <label class="switch-paddle"
                           for="club_volunteers_submit_hours">
                      <span class="show-for-sr">Volunteers self report hours</span>
                      <span class="switch-active" aria-hidden="true" title="Submit hours enabled">
                                <i class="ion-checkmark-round"></i>
                            </span>
                      <span class="switch-inactive" aria-hidden="true" title="Submit hours disabled"></span>
                    </label>
                  </div>
                </div>

                <hr></hr>

                <div class="email-text-container">
                  <h4 class="panel-heading">Email Volunteers on Import
                    <p class="help-text">Automatically email volunteers that
                      went to the adventure when the adventure gets imported.</p>
                  </h4>

                  <div class="switch small">
                    <%= f.input_field :always_track_time,
                                      class:         'switch-input',
                                      label:         '&nbsp;'.html_safe,
                                      boolean_style: :inline %>
                    <label class="switch-paddle"
                           for="club_always_track_time">
                      <span class="show-for-sr">Email Volunteers on Import</span>
                      <span class="switch-active" aria-hidden="true" title="Submit hours enabled">
                                <i class="ion-checkmark-round"></i>
                            </span>
                      <span class="switch-inactive" aria-hidden="true" title="Submit hours disabled"></span>
                    </label>
                  </div>

                  <h4 class="panel-heading">Submit hours email</h4>
                  <%= f.input :submit_hours_email_text,
                              label:      false,
                              hint:       'Optional. Uses Markdown to generate html <a href="https://daringfireball.net/projects/markdown/basics" target="_blank" rel="nofollow">Instructions</a>'.html_safe,
                              input_html: {
                                  rows:        5,
                                  placeholder: 'Custom email message you want to send volunteers.'
                              },
                              class:      'settings-panel-textarea' %>
                </div>

                <%= f.submit 'Save', class: 'button expanded energized panel-save-btn' %>
            <% end %>
        <% end %>
      </div>
    </div>

    <!--TODO: payment info-->
    <!--<div class="small-12 medium-4 columns">-->
    <!--<div class="sidebar">-->
    <!--Payment info goes here.-->
    <!--</div>-->
    <!--</div>-->

  </div>
</div>
