<%= simple_form_for @email, remote: true do |f| %>

    <h4 class="reveal-heading">Email volunteers
      <span class="help-text">Select volunteers from your search and fill out fields below.</span>
    </h4>

    <!--TODO make this dynamic-->
    <h6 class="email-recipients">To
      <span class="tag-item">Current Search</span>
    </h6>

    <div class="input-group">
      <%= f.input_field :subject, placeholder: 'Subject' %>
      <%= f.full_error :subject %>
    </div>
    <div class="input-group">
      <%= f.input_field :message, placeholder: 'Type your email...' %>
      <%= f.full_error :message %>
    </div>

    <%= hidden_field_tag :filter, params[:filter] %>
    <%= hidden_field_tag :q, params[:q] %>

    <%= f.submit 'Send', class: 'button sm expanded energized' %>
<% end %>
