<div id="search-panel" class="filter-search-panel" data-toggler data-animate="fade-in fade-out" data-closable>
  <button class="close-button" title="Close panel" data-close>&times;</button>
  <%= form_tag volunteers_path, method: 'get', id: "volunteers_search" do %>

      <div class="expanded row">
        <div class="small-12 large-5 columns">
          <h5 class="filter-heading single-line-text">Search for volunteers</h5>
          <%= text_field_tag :q, params[:q], 'aria-describedby': "search-help-text", placeholder: "Type name to search...", class: "volunteer-search" %>
          <p class="help-text" id="search-help-text">Search by name.</p>
        </div>

        <div class="small-12 large-5 columns filter-tag-wrapper">
          <h5 class="filter-heading single-line-text">Filter by tag</h5>
          <%= text_field_tag :filter, params[:filter], class: 'dynamic-selectize-control selectized', 'aria-describedby': 'tag-help-text', placeholder: "Type to add a tag...", 'data-context': '' %>
          <p class="help-text" id="tag-help-text">Type to add tags and press
            enter. Backspace to delete.</p>
        </div>

        <div class="small-12 large-5 columns">
          <h5 class="filter-heading single-line-text">Search by minimum
            hours</h5>
          <%= text_field_tag :hours, params[:hours],
                             'aria-describedby': "hours-help-text",
                             placeholder:        'Enter hours',
                             class:              "volunteer-search" %>
          <p class="help-text" id="hours-help-text">Enter minimum hours to
            filter by.</p>
        </div>

        <div class="small-12 large-4 columns">
          <h5 class="filter-heading single-line-text">Date</h5>
          <div class="expanded row">
            <div class="small-6 columns">
              <%= text_field_tag :start_date,
                                 params[:start_date],
                                 class: 'volunteer-search date-picker',
                                 data:  {
                                     format:        'j M Y',
                                     init_set:      false,
                                     large_mode:    'true',
                                     large_default: 'true',
                                     modal:         'true',
                                     min_year:      '2010',
                                     theme:         'dark'
                                 } %>
              <p class="help-text" id="tag-help-text">Start date.</p>
            </div>
            <div class="small-6 columns">
              <%= text_field_tag :end_date,
                                 params[:end_date],
                                 class: 'volunteer-search date-picker',
                                 data:  {
                                     format:        'j M Y',
                                     init_set:      false,
                                     large_mode:    'true',
                                     large_default: 'true',
                                     modal:         'true',
                                     min_year:      '2010',
                                     theme:         'dark'
                                 } %>
              <p class="help-text" id="tag-help-text">End date.</p>
            </div>
          </div>
        </div>
        <!--TODO availability-->
        <!--<div class="small-12 large-2 columns availability-wrapper">-->
        <!--<h5 class="filter-heading single-line-text">Availability</h5>-->
        <!--<a class="button sm secondary available-btn" data-open="reveal-filter-availability" title="Filter by availability">Select</a>-->
        <!--</div>-->

        <%= hidden_field_tag :sort_direction, params[:sort_direction] %>
        <%= hidden_field_tag :sort_name, params[:sort_name] %>
      </div>

      <%= render 'layouts/reveal_filter_availability' %>

      <div class="expanded row">
        <div class="small-12 large-3 columns">
          <%= submit_tag "Search", class: 'button sm expanded energized search-btn', name: nil %>
        </div>
        <div class="small-12 large-1 columns">
          <%= link_to 'Clear', volunteers_path,
                      class: 'button sm expanded secondary clear-btn',
                      title: 'Clear all search fields' %>
        </div>
  <% end %>
  </div>
</div>
