<div class="tiny reveal" id="reveal-add-volunteer" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= simple_form_for volunteer, remote: true do |f| %>
      <%= f.input :adventure_id, as: :hidden %>
      <h4 class="reveal-heading">Add new volunteer
        <span class="help-text">First two fields are required.</span>
      </h4>
      <%= f.simple_fields_for :user do |u| %>
          <div class="input-group">
            <span class="input-group-label"><i class="ion-person"></i></span>
            <%= u.input_field :name, placeholder: 'Name' %>
            <%= u.full_error :name%>
          </div>
          <div class="input-group">
            <span class="input-group-label"><i class="ion-ios-email"></i></span>
            <%= u.input_field :email, placeholder: 'Email' %>
            <%= u.full_error :email%>
          </div>
      <% end %>
      <div class="input-group">
        <span class="input-group-label"><i class="ion-android-time"></i></span>
        <%= f.input_field :hours, placeholder: 'Hours' %>
        <%= f.error :hours%>
      </div>
      <p class="help-text">Optional. You can add hours now or later.</p>
      <%= f.submit 'Save', class: 'button expanded sm energized' %>
  <% end %>
</div>
