(function() {
  <% if @user.errors.present? %>
  var html = '<%= j render "volunteers/volunteer", volunteer: @user %>';
  var arr = $(html).children();

  $('#reveal-add-volunteer').html('');

  for(var i = 0, len = arr.length; i < len; i++) {
    $('#reveal-add-volunteer').append(arr[i]);
  }
  <% else %>
  location.reload();
  <% end %>
})();
