<%= render 'volunteers/filter_search_dropdown' %>
<%= render 'layouts/reveal_email_volunteer' %>

<!-- BEGIN PLACEHOLDER CONTENT -->
<% if @volunteers.count == 0 %>
    <div class="container volunteer-table no-content">
      <div class="expanded row">
        <div class="placeholder-banner">
          <div class="message">
            <h2>Volunteers</h2>
            <h3>Start <a href="https://yazdaapp.com/adventures/new">creating
              adventures</a> to import volunteers.</h3>
          </div>
        </div>
      </div>

      <div class="expanded row volunteer-table-header show-for-large" data-equalizer data-equalize-on="large">
        <div class="small-12 large-1 columns">
          <h5 class="header-title" data-equalizer-watch>Email</h5>
        </div>
        <div class="small-12 large-4 columns">
          <h5 class="header-title" data-equalizer-watch>Name</h5>
        </div>
        <div class="small-12 large-4 columns">
          <h5 class="header-title" data-equalizer-watch>Tags</h5>
        </div>
        <div class="small-12 large-2 columns">
          <h5 class="header-title" data-equalizer-watch>Last attended</h5>
        </div>
        <div class="small-12 large-1 columns">
          <h5 class="header-title" data-equalizer-watch>Hours</h5>
        </div>
      </div>

      <div class="expanded row volunteer-table-row" data-equalizer data-equalize-on="large">
        <div class="small-12 large-1 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some</p>
          </div>
        </div>

        <div class="small-12 large-4 columns">
          <div class="table-cell info" data-equalizer-watch>
            <div class="table-image">
              <div class="user-avatar sm"></div>
            </div>
            <div class="table-info">
              <p>Some content</p>
            </div>
          </div>
        </div>

        <div class="small-12 large-4 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some content</p>
          </div>
        </div>

        <div class="small-12 large-2 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some content</p>
          </div>
        </div>

        <div class="small-12 large-1 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some</p>
          </div>
        </div>
      </div>

      <div class="expanded row volunteer-table-row" data-equalizer data-equalize-on="large">
        <div class="small-12 large-1 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some</p>
          </div>
        </div>

        <div class="small-12 large-4 columns">
          <div class="table-cell info" data-equalizer-watch>
            <div class="table-image">
              <div class="user-avatar sm"></div>
            </div>
            <div class="table-info">
              <p>Some content</p>
            </div>
          </div>
        </div>

        <div class="small-12 large-4 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some content</p>
          </div>
        </div>

        <div class="small-12 large-2 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some content</p>
          </div>
        </div>

        <div class="small-12 large-1 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some</p>
          </div>
        </div>
      </div>

      <div class="expanded row volunteer-table-row" data-equalizer data-equalize-on="large">
        <div class="small-12 large-1 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some</p>
          </div>
        </div>

        <div class="small-12 large-4 columns">
          <div class="table-cell info" data-equalizer-watch>
            <div class="table-image">
              <div class="user-avatar sm"></div>
            </div>
            <div class="table-info">
              <p>Some content</p>
            </div>
          </div>
        </div>

        <div class="small-12 large-4 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some content</p>
          </div>
        </div>

        <div class="small-12 large-2 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some content</p>
          </div>
        </div>

        <div class="small-12 large-1 columns">
          <div class="table-cell" data-equalizer-watch>
            <p>Some</p>
          </div>
        </div>
      </div>

    </div>
    <!-- END PLACEHOLDER CONTENT -->
<% else %>
    <div class="tiny reveal" id="reveal-add-volunteer" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
      <%= render 'users/new_user', user: @user %>
    </div>
    <%= paginate @volunteers %>

    <div class="container volunteer-table">

      <div class="expanded row volunteer-table-header show-for-large" data-equalizer data-equalize-on="large">
        <div class="small-12 large-1 columns">
          <h5 class="header-title" data-equalizer-watch>Email</h5>
        </div>
        <div class="small-12 large-4 columns">
          <h5 class="header-title" data-equalizer-watch><%= sort_link 'name', 'Name' %></h5>
        </div>
        <div class="small-12 large-4 columns">
          <h5 class="header-title" data-equalizer-watch>Tags</h5>
        </div>
        <div class="small-12 large-2 columns">
          <h5 class="header-title" data-equalizer-watch><%= sort_link 'last_attended', 'Last Attended' %></h5>
        </div>
        <div class="small-12 large-1 columns">
          <h5 class="header-title" data-equalizer-watch><%= sort_link 'hours', 'Hours' %></h5>
        </div>
      </div>

      <% if @volunteers.length == 0 %>
          <!-- BEGIN PLACEHOLDER CONTENT -->
          <div class="expanded row placeholder-no-results">
            <div class="small-12 medium-1 columns"><%= image_tag 'bike-wipeout.svg' %></div>
            <div class="small-12 medium-9 columns"><h3><strong>Ouch!</strong> Your search returned <strong>no results</strong>.</h3></div>
            <div class="small-12 medium-2 columns">
              <%= link_to 'Clear',
                                  volunteers_path,
                                  class: "button expanded sm hollow balanced",
                                  title: "Clear search results" %>
            </div>
          </div>
          <!-- END PLACEHOLDER CONTENT -->
      <% end %>

      <% @volunteers.each do |volunteer| %>
          <%= render volunteer %>
      <% end %>

      <%= paginate @volunteers %>

    </div>
<% end %>
