<%= CSV.generate_line ['Name', 'Imported Date', 'Last Volunteered Date',
                       'Hours - Year to Date', 'Monday Morning',
                       'Monday Afternoon', 'Monday Evening',
                       'Tuesday Morning', 'Tuesday Afternoon',
                       'Tuesday Evening', 'Wednesday Morning',
                       'Wednesday Afternoon', 'Wednesday Evening',
                       'Thursday Morning', 'Thursday Afternoon',
                       'Thursday Evening', 'Friday Morning',
                       'Friday Afternoon', 'Friday Evening',
                       'Saturday Morning', 'Saturday Afternoon',
                       'Saturday Evening', 'Sunday Morning',
                       'Sunday Afternoon', 'Sunday Evening'] %>
<%- @volunteers.find_each do |user| -%>
<%= CSV.generate_line [user.name,
                       user.created_at,
                       user.adventures.maximum(:end_time),
                       user.hours_for_club(current_user.selected_club),
                       user.monday_morning,
                       user.monday_afternoon,
                       user.monday_evening,
                       user.tuesday_morning,
                       user.tuesday_afternoon,
                       user.tuesday_evening,
                       user.wednesday_morning,
                       user.wednesday_afternoon,
                       user.wednesday_evening,
                       user.thursday_morning,
                       user.thursday_afternoon,
                       user.thursday_evening,
                       user.friday_morning,
                       user.friday_afternoon,
                       user.friday_evening,
                       user.saturday_morning,
                       user.saturday_afternoon,
                       user.saturday_evening,
                       user.sunday_morning,
                       user.sunday_afternoon,
                       user.sunday_evening] %>
<%- end -%>
