<div class="row incentive-input-container">
    <div class="nested-fields">
        <div class="small-3  medium-2 columns">
            <%= f.input :hours, placeholder: 'Hours', label: false %>
        </div>
        <div class="small-8 medium-9 columns">
            <%= f.input :description, placeholder: 'Description', label: false %>
        </div>
        <div class="small-1 medium-1 columns">
            <%= link_to_remove_association  f do %>
            <button class="button sm secondary delete-btn" title="Delete Incentive">&times;<span class="sr-only">Delete</span></button>
            <% end %>
        </div>
    </div>
</div>
