<% if incentive? club, user %>
    <div class="club-incentive">
      <div class="progress" role="progressbar" tabindex="0" aria-valuemin="0" aria-valuemax="100">

        <div class="pip-container">
          <% club.incentives.order(hours: :asc).each do |incentive| %>
              <%= pip_for incentive, club, user %>
          <% end %>
        </div>

        <div class="progress-meter" style="width: <%= incentive_percentage(club, user) %>"></div>
      </div>

      <div class="expanded row">
        <div class="small-8 columns">
          <h6 class="club-name single-line-text"><%= club.name %>
          </h6>
        </div>
        <div class="small-4 columns">
          <h6 class="club-time single-line-text">
            <%= hours_for_incentive club, user %>
          </h6>
        </div>
      </div>
    </div>
<% end %>
