<div class="incentive-container">
  <h4 class="incentive-heading panel-heading">Club goals</h4>
  <h5 class="incentive-subheading">
    <!--TODO make this dynamic-->
    <!--<span>Milestones <strong>8</strong></span>-->
    <!--<span>Complete <strong>2</strong></span>-->
  </h5>
  <% current_user.clubs.each do |club| %>
      <%= render 'incentives/incentive', club: club, user: current_user %>
  <% end %>
</div>
