<div id="profile-panel-<%= user.id %>" class="full reveal profile-panel" data-overlay="false" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <a class="close-button" title="Close panel" data-close>&times;</a>

  <div class="panel-inner">
    <div class="media-object">
      <div class="media-object-section middle">
        <div class="user-avatar lg">
          <%= yazda_image_tag user.profile_image_url %>
        </div>
      </div>
      <div class="media-object-section middle">
        <h4 class="user-name"><%= link_to_if user.yazda_user_id.present?, user.name,
                                             "https://yazdaapp.com/users/#{user.yazda_user_id}",
                                             target: '_blank',
                                             title:  'View on Yazda' %>
        </h4>
        <h5 class="hours-worked">
          Volunteer
          hours<span> <%= user.hours_for_club current_user.selected_club %></span>
        </h5>
        <h6 class="last-attended">
          Last
          attended<span> <%= user.last_attended_for_club current_user.selected_club %></span>
        </h6>
        <%= link_to 'View adventures', user, target: '_blank' %>
      </div>
    </div>

    <hr></hr>

    <%= simple_form_for user, remote: true do |f| %>

        <h4 class="panel-heading">Self assigned tags</h4>
        <div class="volunteer-tags">
          <% user.skill_list.each do |s| %>
              <div class="tag-item"><%= s %></div>
          <% end %>
        </div>

        <hr></hr>

        <h4 class="panel-heading">Add Tags</h4>
        <%= f.input current_user.selected_club.skills_context,
                    label:      false,
                    hint:       'Type to add tags and press enter. Backspace to delete.',
                    input_html: {
                        placeholder: 'Type to add tag...',
                        class:       'dynamic-selectize-control selectized',
                        data:        {
                            context: current_user.selected_club.skills_context
                        }
                    }
        %>

        <hr></hr>

        <h4 class="panel-heading">Availability</h4>
        <div class="availability">
          <div class="row header">
            <div class="small-3 columns">
              <div class="heading calendar">
                <i class="ion-calendar"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="heading">Mor
                <i class="ion-ios-arrow-down"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="heading">Aft
                <i class="ion-ios-arrow-down"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="heading">Eve
                <i class="ion-ios-arrow-down"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Mon
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :monday_morning,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :monday_afternoon,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :monday_evening,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Tue
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :tuesday_morning,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :tuesday_afternoon,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :tuesday_evening,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Wed
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :wednesday_morning,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :wednesday_afternoon,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :wednesday_evening,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Thu
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :thursday_morning,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :thursday_afternoon,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :thursday_evening,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Fri
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :friday_morning,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :friday_afternoon,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :friday_evening,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Sat
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :saturday_morning,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :saturday_afternoon,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :saturday_evening,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Sun
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :sunday_morning,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :sunday_afternoon,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :sunday_evening,
                            label:         '&nbsp;'.html_safe,
                            disabled:      true,
                            boolean_style: :inline %>
              </div>
            </div>
          </div>
        </div>

        <hr></hr>

        <div class="incentive-container">
          <h4 class="incentive-heading panel-heading">Club goals</h4>
          <h5 class="incentive-subheading">
            <!--TODO dynamic-->
            <!--<span>Milestones <strong>8</strong></span>-->
            <!--<span>Complete <strong>2</strong></span>-->
          </h5>
          <%= render 'incentives/incentive',
                     club: current_user.selected_club,
                     user: user %>
        </div>

        <%= f.submit 'Save', class: 'button sm expanded energized panel-save-btn' %>
    <% end %>
  </div>
</div>
