<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
<div id="add-user">
  <%= simple_form_for user, remote: true do |f| %>
      <h4 class="reveal-heading">Add new volunteer
          <span class="help-text">All fields are required.</span>
      </h4>
      <div class="input-group">
        <span class="input-group-label"><i class="ion-person"></i></span>
        <%= f.input_field :name, placeholder: 'Name' %>
        <%= f.full_error :name %>
      </div>
      <div class="input-group">
        <span class="input-group-label"><i class="ion-ios-email"></i></span>
        <%= f.input_field :email, placeholder: 'Email' %>
        <%= f.full_error :email %>
      </div>
      <%= f.submit 'Save', class: 'button expanded sm energized' %>
  <% end %>
</div>
