<div class="expanded row volunteer-table-row" data-equalizer
     data-equalize-on="large" id="user-<%= user.id %>">
  <div class="small-12 large-1 columns">
    <div class="table-cell" data-equalizer-watch>
      <!--TODO data reveal for email  data-open="reveal-email-volunteer"-->
      <button class="button sm energized hollow email-one-btn" title="email this volunteer">
        <i class="ion-email"></i>
      </button>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="table-cell" data-equalizer-watch>
      <div class="media-object">
        <div class="media-object-section middle">
          <div class="user-avatar sm">
            <%= yazda_image_tag user.profile_image_url %>
          </div>
        </div>
        <div class="media-object-section middle">
          <h5 class="user-name"><a data-open="profile-panel-<%= user.id %>"
                                   title="edit profile"><%= user.name %>
            <i class="ion-compose"></i></a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="table-cell" data-equalizer-watch>
      <div class="volunteer-tags">
        <% user.all_skills(current_user.selected_club).each do |s| %>
            <div class="tag-item"><%= link_to s, volunteers_path(filter: s.to_s) %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="small-12 large-2 columns">
    <div class="table-cell" data-equalizer-watch>
      <div class="volunteer-hours">
        <span class="cell-heading">Last Attended</span>
        <%= user.last_attended_for_club current_user.selected_club %>
      </div>
    </div>
  </div>
  <div class="small-12 large-1 columns">
    <div class="table-cell" data-equalizer-watch>
      <div class="volunteer-hours">
        <span class="cell-heading">Hours</span>
        <%= user.hours_for_club current_user.selected_club %>
      </div>
    </div>
  </div>
</div>
<%= render 'users/edit_settings', user: user %>
