<div class="container">

  <div class="expanded row banner-show">
    <div class="show-adventure-background"></div>
    <div class="media-object stack-for-small show-content">
      <div class="media-object-section middle">
        <div class="user-avatar profile">
          <%= yazda_image_tag @user.profile_image_url %>
        </div>
      </div>
      <div class="media-object-section middle">
        <h3 class="show-user-name">
          <%= link_to_if @user.yazda_user_id.present?, @user.name,
                         "https://yazdaapp.com/users/#{@user.yazda_user_id}",
                         target: '_blank',
                         title:  'View on Yazda' %></h3>
        <h4 class="show-skills">
          <div class="volunteer-skills">
            <% @user.all_skills(current_user.selected_club).each do |s| %>
                <div class='tag-item'><%= s %></div>
            <% end %>
          </div>
        </h4>
      </div>
    </div>
  </div>

  <div class="expanded row">

    <div class="small-12 large-4 large-push-8 columns">
      <!--TODO display incentive-->
      <!--%= render 'incentives/incentives' %-->
    </div>

    <!--TODO paging-->
    <div class="container volunteer-table">
      <div class="expanded row volunteer-table-header show-for-large" data-equalizer data-equalize-on="large">
        <div class="small-12 large-4 columns">
          <h5 class="header-title" data-equalizer-watch>Name</h5>
        </div>
        <div class="small-12 large-4 columns">
          <h5 class="header-title" data-equalizer-watch>Ended</h5>
        </div>
        <div class="small-12 medium-6 large-2 columns">
          <h5 class="header-title" data-equalizer-watch>Hours</h5>
        </div>
        <div class="small-12 medium-6 large-2 columns">
          <h5 class="header-title" data-equalizer-watch>Attended</h5>
        </div>
      </div>

      <% @volunteers.each do |volunteer| %>
          <div class="expanded row volunteer-table-row" data-equalizer data-equalize-on="large">
            <div class="small-12 large-4 columns">
              <div class="table-cell info" data-equalizer-watch>
                <div class="table-image">
                  <div class="user-avatar sm">
                    <%= yazda_image_tag volunteer.adventure.owner_profile_image_url %>
                  </div>
                </div>
                <div class="table-info single-line-text">
                  <h5 class="adventure-name single-line-text" title="Edit Adventure">
                    <%= link_to edit_adventure_path(volunteer.adventure_id) do %>
                        <%= volunteer.adventure.name %>
                        <i class="ion-compose"></i>
                    <% end %>
                  </h5>
                  <div class="volunteer-total">
                    <span class="cell-heading">Volunteers</span>
                    <%= volunteer.adventure.volunteers.count %>
                  </div>
                </div>
              </div>
            </div>

            <div class="small-12 large-4 columns">
              <div class="table-cell" data-equalizer-watch>
                <div class="adventure-time">
                  <span class="cell-heading" title="Adventure time">Time</span>
                  <%= volunteer.adventure.end_time.strftime('%b %d \'%y %l:%M %p') %>
                </div>
              </div>
            </div>

            <div class="small-12 large-2 columns">
              <div class="table-cell" data-equalizer-watch>
                <div class="volunteer-hours">
                  <span class="cell-heading">Hours</span>
                  <%= volunteer.hours %>
                </div>
              </div>
            </div>

            <div class="small-12 large-2 columns">
              <div class="table-cell attended <%= 'enabled' if volunteer.attended? %>"
                   data-equalizer-watch>
                <span class="cell-heading">Attended</span>
                <span class="text-center">
                  <%= volunteer.attended? ? 'YES' : 'NO' %>
                </span>
              </div>
            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>
