(function() {
  var html = '<%= j render 'users/user', user: @user %>';
  var tags = '<% @user.all_skills(current_user.selected_club).each do |s| %><div class="tag-item"><%= j link_to s, volunteers_path(filter: s.to_s) %></div><% end %>';

  $('#user-<%= @user.id %>').replaceWith(html);
  $('#adventures-user-<%= @user.id %> .volunteer-tags').html(tags);

  <% if @user.valid? %>
  $('#profile-panel-<%= @user.id %> .close-button').click();
  <% end %>
})();
