<div class="expanded row fold fold-home">
    <div class="fold-background background-login"></div>
    <div class="fold-content">
        <%= image_tag "logos/yazda_full_horizontal_shadow.svg", class: 'homepage-logo' %>
        <a href="/auth/yazda" class="expanded button energized login-submit-btn">Login With Yazda!</a>
    </div>
</div>
