<div class="container">
  <div class="expanded row">
    <% if current_user.selected_club.present? %>
        <div class="small-12 large-4 large-push-8 columns">
          <div class="expanded row chart-container">
            <div class="small-12 medium-6 large-12 columns">
              <div class="chart">
                <h5 class="chart-heading">Top Volunteers</h5>
                <%= column_chart charts_volunteer_path(
                                     club_id:    current_user.selected_club.id,
                                     start_time: DateTime.current.beginning_of_year,
                                     end_time:   DateTime.current,
                                     top:        10) %>
              </div>
            </div>
            <div class="small-12 medium-6 large-12 columns">
              <div class="chart">
                <h5 class="chart-heading">Top Tags</h5>
                <%= donut_chart charts_tags_path(
                                    club_id:    current_user.selected_club.id,
                                    start_time: DateTime.current.beginning_of_year,
                                    end_time:   DateTime.current,
                                    top:        10) %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <div class="small-12 large-8 large-pull-4 columns">
      <div class="expanded row card-container" data-equalizer data-equalize-on="medium">
        <% current_user.clubs.enabled.includes(:adventures, :incentives).each do |club| %>
            <%= render 'clubs/card_club', club: club if club.adventures.present? %>
            <%= render 'home/reveal_incentives', club: club if club.adventures.present? %>
        <% end %>
      </div>
    </div>
  </div>
</div>
