<div id="incentives-panel-<%= club.id %>"
     class="full reveal profile-panel incentives-panel" data-overlay="false"
     data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <a class="close-button" title="Close panel" data-close>&times;</a>

  <div class="panel-inner">
    <div class="media-object">
      <div class="media-object-section middle">
        <div class="user-avatar lg">
          <%= yazda_image_tag club.profile_image_url %>
        </div>
      </div>
      <div class="media-object-section middle">
        <h4 class="club-name">
          <a href="https://yazdaapp.com/clubs/<%= club.yazda_club_id %>"
             target="_blank" title="View on yazda"><%= club.name %></a>
        </h4>
        <h5 class="hours-worked">
          Hours this
          year:<span> <%= current_user.year_to_date_volunteers_for_club(club).sum(:hours) %></span>
        </h5>
        <h6 class="last-attended">
          Last
          attended:<span> <%= current_user.last_attended_for_club(club) %></span>
        </h6>
      </div>
    </div>

    <div class="incentive-container">

      <%= render 'incentives/incentive', club: club, user: current_user %>

      <hr/>

      <div class="media-object">
        <div class="media-object-section middle">
          <div class="user-avatar sm">
            <%= yazda_image_tag current_user.profile_image_url %>
          </div>
        </div>
        <div class="media-object-section middle">
          <h5 class="user-name">
            <a href="https://yazdaapp.com/users/<%= current_user.yazda_user_id %>"
               target="_blank" title="View on yazda"><%= current_user.name %></a>
          </h5>
        </div>
      </div>


      <% if club.incentives.each do |incentive| %>
          <div class="incentive-tooltip <%= 'complete' if incentive_completed incentive, club, current_user %>">
            <h6>
              <strong><%= incentive.hours %> Hours</strong>
              <% if incentive_completed incentive, club, current_user %>
                  <span><i class="ion-checkmark-round" title="Milestone complete!"></i></span>
              <% else %>
                  <span><strong><%= incentive.hours - current_user.hours_for_club(club) %></strong> to go</span>
              <% end %>
            </h6>
            <%= incentive.description_markdown.html_safe %>
          </div>
      <% end.empty? %>
        <div class="incentive-tooltip placeholder-tooltip">
          <h6>
            There are no incentives for this club.
          </h6>
        </div>
      <% end %>
    </div>
  </div>
</div>
