<div class="expanded row fold fold-submit-hours">

  <div class="fold-background background-submit-hours"
       style="background-image: url(<%= @volunteer.club.banner_image_url %>);
           background-image: url(<%= @volunteer.club.banner_image_url %>),
               url(<%= asset_url('backgrounds/work1.jpg') %>);"></div>

  <div class="fold-content">

    <h2 class="fold-heading">Please report your time</h2>

    <!-- Adventure info -->
    <div class="submit-hours-adventure-info">

      <div class="media-object">
        <div class="media-object-section middle">
          <div class="thumbnail">
            <div class="user-avatar sm"><%= image_tag @volunteer.adventure.owner_profile_image_url %>
            </div>
          </div>
        </div>
        <div class="media-object-section middle">
          <div class="hosted">
            Hosted by
            <a href="https://yazdaapp.com/clubs/<%= @volunteer.club.id %>"
               target="_blank" title="View Club">
              <%= @volunteer.club.name %>
            </a>
          </div>
        </div>
      </div>

      <h5 class="adventure-name"><%= @volunteer.adventure.name %></h5>
      <a href="#" class="location" title="View Location">
        <span><%= @volunteer.adventure.try :address %></span>
      </a>
      <a href="#" class="adventurers" target="_blank" title="View Adventurers">
        <%= @volunteer.adventure.volunteers.count %> Adventurers
      </a>
      <div class="duration">
        <i class="ion-android-time"></i><span> Duration: </span><strong>
        <%= distance_of_time_in_words(@volunteer.adventure.start_time,
                                      @volunteer.adventure.end_time) %>
      </strong>
      </div>

      <!-- Submit hours input/button -->
      <%= simple_form_for @volunteer,
                          html: {
                              class: 'submit-form submit-hours-form'
                          } do |f| %>
          <div class="row">
            <div class="small-6 columns">
              <%= f.input :hours, as:  :float, label: false, required: false,
                          placeholder: 'Hours', id: 'submit-time' %>
            </div>
            <div class="small-6 columns">
              <%= f.button :submit, 'Save',
                           class: 'expanded button energized submit-hours-btn' %>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
