<div id="settings-panel" class="settings-panel" data-toggler data-animate="fade-in fade-out" data-closable>
  <div class="panel-inner">
    <button class="close-button" title="Close panel" data-close>&times;</button>
    <h4 class="panel-heading distance">
      <i class="ion-android-time"></i>
      Duration:
      <span><%= distance_of_time_in_words(@adventure.start_time,
                                          @adventure.end_time) %></span>
    </h4>

    <% if @adventure.pending? %>
        <%= link_to 'Self Report Hours',
                    track_time_adventure_path(@adventure),
                    method: :post,
                    class:  'button expanded sm primary' if @adventure.club.volunteers_submit_hours? && !@adventure.track_time %>

        <button class="button expanded sm secondary"
                title="Set Time for All Volunteers"
                data-open="set-time-for-volunteers">Set all volunteer hours
        </button>

        <div class="tiny reveal" id="set-time-for-volunteers" data-reveal
             data-animation-in="fade-in" data-animation-out="fade-out">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <div id="time-for-volunteers">
            <%= simple_form_for :volunteer,
                                url: set_time_for_volunteers_adventure_path(@adventure) do |f| %>
                <h4 class="reveal-heading">Set Hours
                  <span class="help-text">Set hours for all volunteers.</span>
                </h4>
                <div class="input-group">
                  <span class="input-group-label"><i class="ion-android-time"></i></span>
                  <%= f.input_field :hours,
                                    placeholder: 'Hours',
                                    as:          :float,
                                    value:       (@adventure.end_time - @adventure.start_time) / 60 / 60

                  %>
                  <%= f.error :hours %>
                </div>
                <%= f.submit 'Save', class: 'button expanded sm energized' %>
            <% end %>
          </div>

        </div>
    <% end %>

    <div class="row expanded">
      <% unless @adventure.archived? %>
          <div class="small-6 columns">
            <button class="button expanded sm alert"
                    title="Archive"
                    data-open="archive-for-volunteers">Archive
            </button>
          </div>
      <% end %>
      <% unless @adventure.reportable? %>
          <div class="small-6 columns">
            <button class="button expanded sm success"
                    title="Reportable"
                    data-open="reportable-for-volunteers">Reportable
            </button>
          </div>
      <% end %>
      <% unless @adventure.pending? %>
          <div class="small-6 columns">
            <button class="button expanded sm secondary"
                    title="Editable"
                    data-open="editable-for-volunteers">Editable
            </button>
          </div>
      <% end %>
    </div>

    <div class="tiny reveal" id="archive-for-volunteers" data-reveal
         data-animation-in="fade-in" data-animation-out="fade-out">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="archive-for-volunteers">
        <%= simple_form_for @adventure do |f| %>
            <h4 class="reveal-heading">Archive
              <span class="help-text">Archive this effort and hide it in your
                list and from reporting.</span>
            </h4>
            <div class="input-group">
              <%= f.input :reportable_status,
                          as:         :hidden,
                          input_html: { value: "archived" } %>
              <%= f.error :hours %>
            </div>
            <%= f.submit 'Archive', class: 'button expanded sm alert' %>
        <% end %>
      </div>
    </div>

    <div class="tiny reveal" id="reportable-for-volunteers" data-reveal
         data-animation-in="fade-in" data-animation-out="fade-out">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="reportable-for-volunteers">
        <%= simple_form_for @adventure do |f| %>
            <h4 class="reveal-heading">Reportable
              <span class="help-text">Mark this as reportable to generate
                reports.</span>
            </h4>
            <div class="input-group">
              <%= f.input :reportable_status,
                          as:         :hidden,
                          input_html: { value: "reportable" } %>
              <%= f.error :hours %>
            </div>
            <%= f.submit 'Reportable', class: 'button expanded sm success' %>
        <% end %>
      </div>
    </div>

    <div class="tiny reveal" id="editable-for-volunteers" data-reveal
         data-animation-in="fade-in" data-animation-out="fade-out">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="editable-for-volunteers">
        <%= simple_form_for @adventure do |f| %>
            <h4 class="reveal-heading">Editable
              <span class="help-text">Mark this effort as editable to edit
                hours and volunteers.</span>
            </h4>
            <div class="input-group">
              <%= f.input :reportable_status,
                          as:         :hidden,
                          input_html: { value: "pending" } %>
              <%= f.error :hours %>
            </div>
            <%= f.submit 'Editable', class: 'button expanded sm secondary' %>
        <% end %>
      </div>
    </div>

    <hr></hr>

    <h4 class="panel-heading">Add tags...</h4>
    <%= simple_form_for @adventure do |f| %>
        <% @adventure.club.context_list_underscore.each do |context| %>
            <%= f.input context, label: context.gsub('context', '').humanize,
                        input_html:     {
                            placeholder: 'Type to add tag...',
                            class:       'dynamic-selectize-control',
                            data:        {
                                context: "club_#{@adventure.club.id}_#{context}"
                            }
                        } %>
        <% end %>
        <p class="help-text" id="tag-help-text">
          Type to add tags and press enter. Backspace to delete.
        </p>
        <%= f.button :submit, 'Save', class: 'button energized panel-save-btn' %>
    <% end %>
  </div>
</div>
