<div id="adventures-user-<%= volunteer.user.id %>"
     class="expanded row volunteer-table-row" data-equalizer
     data-equalize-on="large">
  <div class="small-12 large-3 columns">
    <div class="table-cell" data-equalizer-watch>
      <div class="media-object">
        <div class="media-object-section middle">
          <div class="user-avatar sm">
            <%= yazda_image_tag volunteer.profile_image_url %>
          </div>
        </div>
        <div class="media-object-section middle">
          <h5 class="user-name" data-equalizer-watch>
            <a data-open="profile-panel-<%= volunteer.user.id %>"
               title="edit profile"><%= volunteer.user.name %>
              <i class="ion-compose"></i></a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 large-3 columns">
    <div class="table-cell" data-equalizer-watch>
      <div class="volunteer-tags">
        <% volunteer.user.all_skills(current_user.selected_club).each do |s| %>
            <div class="tag-item"><%= link_to s, volunteers_path(filter: s.to_s) %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="small-12 large-2 columns">
    <div class="table-cell volunteer-hours" title="Click field to edit time"
         data-equalizer-watch>
      <span class="cell-heading">Hours</span>
      <span class="text-center">
              <%= best_in_place_if @adventure.pending?, volunteer, :hours %>
            </span>
    </div>
  </div>
  <div class="small-12 large-2 columns">
    <div class="table-cell attended <%= 'enabled' if volunteer.attended? %>"
         title="Click field to edit whether this volunteer attended"
         data-equalizer-watch>
      <span class="cell-heading">Attended</span>
      <% if @adventure.pending? %>
          <%= best_in_place volunteer, :attended, as: :checkbox %>
      <% else %>
                <span class="text-center">
                  <%= volunteer.attended? ? 'YES' : 'NO' %>
                </span>
      <% end %>
    </div>
  </div>
  <% if @adventure.club.volunteers_submit_hours %>
      <div class="small-12 large-2 columns">
        <div class="table-cell tracking <%= 'enabled' if @adventure.track_time || volunteer.track_time %>"
             data-equalizer-watch>
          <span class="cell-heading">Self Report</span>
          <% if @adventure.pending? && !(@adventure.track_time || volunteer.track_time) %>
              <%= best_in_place volunteer, :track_time,
                                as:         :checkbox,
                                value:      @adventure.track_time || volunteer.track_time,
                                html_attrs: {
                                    disabled: (@adventure.track_time || volunteer.track_time)
                                }
              %>
          <% else %>
                  <span class="text-center">
                    <%= @adventure.track_time || volunteer.track_time ? 'YES' : 'NO' %>
                  </span>
          <% end %>
        </div>
      </div>
  <% end %>
  <%= render 'users/edit_settings', user: volunteer.user %>
</div>
