<%= render 'adventures/settings' %>
<%= render 'volunteers/volunteer', volunteer: @user %>

<div class="container">

  <div class="expanded row banner-show">
    <div class="show-adventure-background"></div>
    <div class="media-object stack-for-small show-content">
      <div class="media-object-section middle">
        <div class="user-avatar profile">
          <%= yazda_image_tag @adventure.owner_profile_image_url %>
        </div>
      </div>
      <div class="media-object-section middle">
        <h3 class="show-user-name"><%= @adventure.name %></h3>
        <h5 class="show-hosted">Hosted by
          <a href="#"><%= @adventure.owner_name %></a>
          via
          <a href="https://yazdaapp.com/clubs/<%= @adventure.club.yazda_club_id %>">
            <%= @adventure.club.name %>
          </a>
        </h5>
        <h6>
          <% if @adventure.reportable? %>
              <span class="energized label"><%= @adventure.reportable_status %></span>
          <% elsif @adventure.pending? %>
              <span class="secondary label"><%= @adventure.reportable_status %></span>
          <% else %>
              <span class="alert label"><%= @adventure.reportable_status %></span>
          <% end %>
        </h6>
      </div>
    </div>
  </div>

  <!--TODO paging for volunteers-->
  <!--TODO sorting for volunteers-->
  <div class="expanded row volunteer-table-header show-for-large" data-equalizer data-equalize-on="large">
    <div class="small-12 large-3 columns">
      <h5 class="header-title" data-equalizer-watch>Name</h5>
    </div>
    <div class="small-12 large-3 columns">
      <h5 class="header-title" data-equalizer-watch>Tags</h5>
    </div>
    <div class="small-12 medium-6 large-2 columns">
      <h5 class="header-title" data-equalizer-watch>Hours</h5>
    </div>
    <div class="small-12 medium-6 large-2 columns">
      <h5 class="header-title" data-equalizer-watch>Attended</h5>
    </div>
    <% if @adventure.club.volunteers_submit_hours %>
        <div class="small-12 medium-6 large-2 columns">
          <h5 class="header-title" data-equalizer-watch>Self Report</h5>
        </div>
    <% end %>
  </div>

  <% @volunteers.each do |volunteer| %>
      <% next unless volunteer.id %>
      <%= render 'adventures/volunteer', volunteer: volunteer %>
  <% end %>
</div>
