<%- context_list = @club.context_list_underscore -%>
<%= CSV.generate_line(['Adventure Name', 'Start Time', 'End Time', 'Organizer', 'Hours'].concat(context_list)).html_safe %>
<%- @adventures.find_each do |adventure| -%>
<%- context_data = context_list.map { |c| adventure.send(c) } -%>
<%= CSV.generate_line([adventure.name, adventure.start_time.to_s(:long), adventure.end_time.to_s(:long), adventure.owner_name, adventure.volunteers.sum(:hours)].concat(context_data)).html_safe %>
<%- end -%>
