<%= render 'adventures/filter_search_dropdown' %>

<!-- BEGIN PLACEHOLDER CONTENT -->
<% if current_user.selected_club.adventures.count == 0 %>
    <div class="container volunteer-table no-content">
      <div class="expanded row">
        <div class="placeholder-banner">
          <div class="message">
            <h2>Adventures</h2>
            <h3>Start <a href="https://yazdaapp.com/adventures/new">creating
              adventures</a> to track volunteer efforts.</h3>
          </div>
        </div>
      </div>

      <div class="expanded row volunteer-table-header show-for-large" data-equalizer data-equalize-on="large">
        <div class="small-12 large-4 columns">
          <h5 class="header-title" data-equalizer-watch>Adventure</h5>
        </div>
        <div class="small-12  large-4 columns">
          <h5 class="header-title" data-equalizer-watch>Ended</h5>
        </div>
        <div class="small-12 large-2 columns">
          <h5 class="header-title" data-equalizer-watch>Hours</h5>
        </div>
        <div class="small-12 large-2 columns">
          <h5 class="header-title" data-equalizer-watch>Status</h5>
        </div>
      </div>

      <% 3.times do %>
          <div class="expanded row volunteer-table-row" data-equalizer data-equalize-on="large">
            <div class="small-12 large-4 columns">
              <div class="table-cell info" data-equalizer-watch>
                <div class="table-image">
                  <div class="user-avatar sm"></div>
                </div>
                <div class="table-info">
                  <p>Some content</p>
                </div>
              </div>
            </div>

            <div class="small-12 large-4 columns">
              <div class="table-cell" data-equalizer-watch>
                <p>Some content</p>
              </div>
            </div>

            <div class="small-12 large-2 columns">
              <div class="table-cell" data-equalizer-watch>
                <p>Some content</p>
              </div>
            </div>

            <div class="small-12 large-2 columns">
              <div class="table-cell" data-equalizer-watch>
                <p>Some content</p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <!-- END PLACEHOLDER CONTENT -->
<% else %>
    <%= paginate @adventures %>

    <div class="container volunteer-table">

      <div class="expanded row volunteer-table-header show-for-large" data-equalizer data-equalize-on="large">
        <div class="small-12 large-4 columns">
          <h5 class="header-title" data-equalizer-watch><%= sort_link 'name', 'Adventure' %></h5>
        </div>
        <div class="small-12  large-4 columns">
          <h5 class="header-title" data-equalizer-watch><%= sort_link 'end_time', 'Ended' %></h5>
        </div>
        <div class="small-12 large-2 columns">
          <h5 class="header-title" data-equalizer-watch><%= sort_link 'hours', 'Hours' %></h5>
        </div>
        <div class="small-12 large-2 columns">
          <h5 class="header-title" data-equalizer-watch><%= sort_link 'reportable_status', 'Status' %></h5>
        </div>
      </div>

      <% if @adventures.length == 0 %>
          <!-- BEGIN PLACEHOLDER CONTENT -->
          <div class="expanded row placeholder-no-results">
            <div class="small-12 medium-1 columns"><%= image_tag 'bike-wipeout.svg' %></div>
            <div class="small-12 medium-9 columns">
              <h3><strong>Ouch!</strong> Your search returned
                <strong>no results</strong>.</h3></div>
            <div class="small-12 medium-2 columns">
              <%= link_to 'Clear',
                          adventures_path,
                          class: "button expanded sm hollow balanced",
                          title: "Clear search results" %>
            </div>
          </div>
          <!-- END PLACEHOLDER CONTENT -->
      <% end %>

      <% @adventures.each do |adventure| %>
          <div class="expanded row volunteer-table-row" data-equalizer data-equalize-on="large">
            <div class="small-12 large-4 columns">
              <div class="table-cell info" data-equalizer-watch>
                <div class="table-image">
                  <div class="user-avatar sm">
                    <%= yazda_image_tag adventure.owner_profile_image_url %>
                  </div>
                </div>
                <div class="table-info single-line-text">
                  <h5 class="adventure-name single-line-text" title="Edit Adventure">
                    <%= link_to edit_adventure_path(adventure), target: '_blank' do %>
                        <%= adventure.name %> <i class="ion-compose"></i>
                    <% end %>
                  </h5>
                  <div class="volunteer-total">
                    <span class="cell-heading">Volunteers</span>
                    <%= adventure.volunteers.count %>
                  </div>
                </div>
              </div>
            </div>

            <div class="small-12 large-4 columns">
              <div class="table-cell" data-equalizer-watch>
                <div class="adventure-time">
                  <span class="cell-heading" title="Adventure time">Time</span>
                  <%= adventure.end_time.strftime('%b %d \'%y %l:%M %p') %>
                </div>
              </div>
            </div>

            <div class="small-12 large-2 columns">
              <div class="table-cell" data-equalizer-watch>
                <div class="volunteer-hours">
                  <span class="cell-heading">Hours</span>
                  <%= adventure.volunteers.sum :hours %>
                </div>
              </div>
            </div>

            <div class="small-12 large-2 columns">
              <div class="table-cell adventure-status  <%= adventure.reportable_status %>"
                   data-equalizer-watch>
                <span class="cell-heading">Status</span>
                <%= adventure.reportable_status %>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <%= paginate @adventures %>
<% end %>
