<div class="container">

  <div class="expanded row banner-show">
    <div class="show-adventure-background"></div>
    <div class="media-object stack-for-small show-content">
      <div class="media-object-section middle">
        <div class="user-avatar profile">
          <%= yazda_image_tag current_user.profile_image_url %>
        </div>
      </div>
      <div class="media-object-section middle">
        <h3 class="show-user-name"><%= @adventure.name %></h3>
        <h5 class="show-hosted">Hosted by
          <a href="#"><%= current_user.name %></a>
          via
          <a href="https://yazdaapp.com/clubs/<%= @adventure.club.yazda_club_id %>">
            <%= @adventure.club.name %>
          </a>
        </h5>
        <h6>
          <% if @adventure.reportable? %>
              <span class="energized label"><%= @adventure.reportable_status %></span>
          <% elsif @adventure.pending? %>
              <span class="secondary label"><%= @adventure.reportable_status %></span>
          <% else %>
              <span class="alert label"><%= @adventure.reportable_status %></span>
          <% end %>
        </h6>
      </div>
    </div>
  </div>

  <div class="row expanded">
    <%= simple_form_for @adventure do |f| %>
        <div class="expanded row">
          <div class="small-12 columns">
            <%= f.input :name, hint: 'Enter a name for this effort' %>
          </div>
          <div class="medium-6 small-12 columns">
            <%= f.input :adventure_start, as: :date_time_picker %>
          </div>
          <div class="medium-6 small-12 columns">
            <%= f.input :adventure_end, as: :date_time_picker %>
          </div>
          <div class="small-12 columns">
            <%= f.input :address, hint: 'Where was the work done?' %>
          </div>
        </div>
        <div class="expanded row">
          <div class="small-12 columns">
            <%= f.submit 'Save', class: 'button expanded energized' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
