<h4 class="notification-tracking-heading text-center" style="Margin:0;Margin-bottom:10px;color:#F26530;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:24px;font-weight:400;hyphens:none;line-height:1em;margin:20px!important;margin-bottom:10px;padding:0;text-align:center;text-transform:capitalize;transition:all .1s linear;
    word-wrap:normal">Congratulations <%= @volunteer.user.name %></h4>
<% if @volunteer.club.banner_image_url %>
<!-- BEGIN CLUB IMAGE -->
    <wrapper class="image-wrapper" style="transition:all .1s linear">
      <%= image_tag @volunteer.club.banner_image_url,
                    style: "-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
    </wrapper>
<!-- END CLUB IMAGE -->
    <!-- BEGIN SPACER -->
    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <tbody style="transition:all .1s linear">
      <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
        <td height="20px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:auto;line-height:20px;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word">&#xA0;</td>
      </tr>
      </tbody>
    </table><!-- END SPACER -->
<% end %>
<div class="inner-wrapper" style="padding:10px;transition:all .1s linear"><!-- BEGIN AVATAR -->
  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
    <tbody style="transition:all .1s linear">
    <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:20px;text-align:left;transition:all .1s linear;width:580px">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
              <h5 class="notification-tracking-adventure-name" style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:none;line-height:1em;margin:0;margin-bottom:10px;padding:0;text-align:left;transition:all .1s linear;word-wrap:normal">
                All of your hard work has paid off!</h5>
              <p class="notification-tracking-adventure-description" style="Margin:0;Margin-bottom:20px;color:#8a8a8a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:20px;padding:0;text-align:left;transition:all .1s linear">
                For the rewarding hours you've put in, you've gotten some
                sweet karma sent your way from <a style="Margin:0;color:#299855;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear" href="https://yazdaapp.com/clubs/<%= @volunteer.club.yazda_club_id %>"><%= @volunteer.club.name %></a>.
                Here's what you've gotten for all the hard work you've put in
                this year:
              </p>
              <p class="notification-tracking-adventure-description"
                 style="Margin:0;Margin-bottom:20px;color:#ffffff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:20px;padding:0;text-align:left;transition:all .1s linear">
                <%= @incentive.description.html_safe %>
              </p>
            </th>
            <th class="expander" style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0!important;text-align:left;transition:all .1s linear;visibility:hidden;width:0"></th>
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table><!-- END ADVENTURE INFO -->
  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
    <tbody style="transition:all .1s linear">
    <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:20px;text-align:left;transition:all .1s linear;width:580px">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
              <center data-parsed="" style="min-width:540px;transition:all .1s linear;width:100%">
                <table class="button large expanded cta-btn text-center" style="-moz-box-shadow:0 0 0 2px #000;-webkit-box-shadow:0 0 0 2px #000;Margin:0 0 16px 0;border:0!important;border-collapse:collapse;border-spacing:0;box-shadow:0 0 0 2px #000;margin:0 0 5px!important;padding:0;text-align:center;transition:all .1s linear;vertical-align:top;width:100%!important">
                  <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                    <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border:0!important;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:center!important;text-transform:uppercase;transition:all .1s linear;vertical-align:top;word-wrap:break-word">
                      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                        <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                          <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#299855;border:0!important;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:center!important;text-transform:uppercase;transition:all .1s linear;vertical-align:top;width:auto!important;word-wrap:break-word">
                            <%= link_to 'Login to view your reward', root_url,
                                        style: 'Margin:0;border:0 solid #299855;border-radius:6px;color:#fff;display:inline-block;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1em;margin:0;outline:0;padding:15px 20px 15px 20px;text-align:center;text-decoration:none;transition:all .1s linear' %>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </th>
            <th class="expander" style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0!important;text-align:left;transition:all .1s linear;visibility:hidden;width:0"></th>
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table>
</div><!-- END CTA BUTTON -->
