<!-- BEGIN CLUB IMAGE -->
<% if @email.club.banner_image_url %>
    <wrapper class="image-wrapper" style="transition:all .1s linear">
      <%= image_tag @email.club.banner_image_url,
                    style: "-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
    </wrapper>
<% end %>
<!-- END CLUB IMAGE -->
<h4 class="notification-tracking-heading text-center" style="Margin:0;Margin-bottom:10px;color:#F26530;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:24px;font-weight:400;hyphens:none;line-height:1em;margin:20px!important;margin-bottom:10px;padding:0;text-align:center;text-transform:capitalize;transition:all .1s linear;word-wrap:normal">
  <%= @email.club.name %> sent you a message!
</h4>
<!-- BEGIN SPACER -->
<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
  <tbody style="transition:all .1s linear">
  <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
    <td height="20px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:auto;line-height:20px;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word">&#xA0;</td>
  </tr>
  </tbody>
</table><!-- END SPACER -->
<div class="inner-wrapper" style="padding:10px;transition:all .1s linear">
  <hr class="container-hr" style="Margin:20px auto;border-bottom:2px dashed #303030;border-left:0;border-right:0;border-top:0;clear:both;height:0;margin:0 20px 20px 20px;max-width:600px;transition:all .1s linear"><!-- BEGIN MESSAGE INFO -->
  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
    <tbody style="transition:all .1s linear">
    <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:20px;text-align:left;transition:all .1s linear;width:580px">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
              <p class="notification-tracking-adventure-description" style="Margin:0;Margin-bottom:20px;color:#8a8a8a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:20px;padding:0;text-align:left;transition:all .1s linear">
                <%= @email.message_markdown.html_safe %>
              </p>
            </th>
            <th class="expander" style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0!important;text-align:left;transition:all .1s linear;visibility:hidden;width:0"></th>
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table><!-- END MESSAGE INFO -->
</div><!-- END CTA BUTTON -->
