<h4 class="notification-tracking-heading text-center" style="Margin:0;Margin-bottom:10px;color:#F26530;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:24px;font-weight:400;hyphens:none;line-height:1em;margin:20px!important;margin-bottom:10px;padding:0;text-align:center;text-transform:capitalize;transition:all .1s linear;word-wrap:normal">Hi
  <%= @volunteer.user.name %>, you have hours to report.</h4>
<% if @volunteer.club.banner_image_url %>
<!-- BEGIN CLUB IMAGE -->
    <wrapper class="image-wrapper" style="transition:all .1s linear">
      <%= image_tag @volunteer.club.banner_image_url,
                    style: "-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
    </wrapper>
<!-- END CLUB IMAGE -->
    <!-- BEGIN SPACER -->
    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <tbody style="transition:all .1s linear">
      <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
        <td height="20px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:auto;line-height:20px;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word">&#xA0;</td>
      </tr>
      </tbody>
    </table><!-- END SPACER -->
<% end %>
<div class="inner-wrapper" style="padding:10px;transition:all .1s linear"><!-- BEGIN AVATAR -->
  <table class="row avatar-container" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
    <tbody style="transition:all .1s linear">
    <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <th class="small-2 large-1 columns first" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:10px;text-align:left;transition:all .1s linear;vertical-align:middle;width:30px">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:middle"><!-- AVATAR -->
              <div class="avatar" style="-moz-border-radius:23px;-moz-box-shadow:0 0 0 1px #darkest;-webkit-border-radius:23px;-webkit-box-shadow:0 0 0 1px #darkest;background-color:#303030;border-radius:23px;box-shadow:0 0 0 1px #000;display:inline-block;float:left;height:45px!important;position:relative;transition:all .1s linear;width:45px!important">
                <%= yazda_image_tag @volunteer.club.profile_image_url,
                                    style: "-moz-border-radius:23px;-ms-interpolation-mode:bicubic;-webkit-border-radius:23px;border-radius:23px;clear:both;display:block;height:45px!important;max-width:100%;outline:0;overflow:hidden;text-decoration:none;transition:all .1s linear;width:45px!important" %><!-- ADD ADVENTURE LEADER BADGE -->
              </div><!-- END AVATAR --></th>
          </tr>
        </table>
      </th>
      <th class="small-10 large-11 columns last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:10px;padding-right:20px;text-align:left;transition:all .1s linear;vertical-align:middle;width:530px">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:middle">
              <p class="notification-tracking-club-name" style="Margin:0;Margin-bottom:20px;color:#f1f1f1;display:inline-block;float:left;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:0;padding:0;text-align:left;text-transform:capitalize;transition:all .1s linear">Hosted
                by
                <a href="https://yazdaapp.com/clubs/<%= @volunteer.club.yazda_club_id %>"
                   style="Margin:0;color:#299855;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear">
                  <%= @volunteer.club.name %></a></p>
              <!--<p class="notification-tracking-adventure-time" style="Margin:0;Margin-bottom:20px;color:#8a8a8a;display:inline-block;float:right;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:0;padding:0;text-align:right;text-transform:uppercase;transition:all .1s linear">feb-->
              <!--25 &apos;17 8:22AM</p></th>-->
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table><!-- END AVATAR -->
  <hr class="container-hr" style="Margin:20px auto;border-bottom:2px dashed #303030;border-left:0;border-right:0;border-top:0;clear:both;height:0;margin:0 20px 20px 20px;max-width:600px;transition:all .1s linear"><!-- BEGIN ADVENTURE INFO -->
  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
    <tbody style="transition:all .1s linear">
    <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:20px;text-align:left;transition:all .1s linear;width:580px">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
              <h5 class="notification-tracking-adventure-name" style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:none;line-height:1em;margin:0;margin-bottom:10px;padding:0;text-align:left;transition:all .1s linear;word-wrap:normal">
                <%= @volunteer.adventure.name %></h5>
              <p class="notification-tracking-adventure-description" style="Margin:0;Margin-bottom:20px;color:#8a8a8a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:20px;padding:0;text-align:left;transition:all .1s linear">
                <%= @volunteer.club.submit_hours_email_markdown.html_safe %>
              </p>
              <p class="notification-tracking-adventure-location" style="Margin:0;Margin-bottom:20px;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:5px;padding:0;text-align:left;text-transform:capitalize;transition:all .1s linear">
                <a href="https://www.google.com/maps/search/<%= @volunteer.adventure.address %>" target="_blank" style="Margin:0;color:#8a8a8a;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear"><span style="color:#299855;font-size:2em;transition:all .1s linear;vertical-align:middle">&#xB7;</span>
                  <%= @volunteer.adventure.address %></a></p>
              <p class="notification-tracking-adventurers" style="Margin:0;Margin-bottom:20px;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:5px;padding:0;text-align:left;text-transform:capitalize;transition:all .1s linear">
                <a href="#" target="_blank" style="Margin:0;color:#8a8a8a;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear"><span
                style="color:#299855;font-size:2em;transition:all .1s linear;vertical-align:middle">&#xB7;</span>
                  <%= @volunteer.adventure.volunteers.count %> Volunteers</a>
              </p></th>
            <th class="expander" style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0!important;text-align:left;transition:all .1s linear;visibility:hidden;width:0"></th>
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table><!-- END ADVENTURE INFO -->
  <hr class="container-hr" style="Margin:20px auto;border-bottom:2px dashed #303030;border-left:0;border-right:0;border-top:0;clear:both;height:0;margin:0 20px 20px 20px;max-width:600px;transition:all .1s linear"><!-- BEGIN DURATION -->
  <h4 class="notification-tracking-duration text-center" style="Margin:0;Margin-bottom:10px;color:#F26530;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:24px;font-weight:400;hyphens:none;line-height:1em;margin:0;margin-bottom:20px;padding:0;text-align:center;transition:all .1s linear;word-wrap:normal">Duration:
    <span style="font-weight:700;transition:all .1s linear"><%= distance_of_time_in_words(@volunteer.adventure.start_time,
                                                                                          @volunteer.adventure.end_time) %></span>
  </h4><!-- END DURATION --><!-- BEGIN CTA BUTTON -->
  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
    <tbody style="transition:all .1s linear">
    <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:20px;text-align:left;transition:all .1s linear;width:580px">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
              <center data-parsed="" style="min-width:540px;transition:all .1s linear;width:100%">
                <table class="button large expanded cta-btn text-center" style="-moz-box-shadow:0 0 0 2px #000;-webkit-box-shadow:0 0 0 2px #000;Margin:0 0 16px 0;border:0!important;border-collapse:collapse;border-spacing:0;box-shadow:0 0 0 2px #000;margin:0 0 5px!important;padding:0;text-align:center;transition:all .1s linear;vertical-align:top;width:100%!important">
                  <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                    <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border:0!important;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:center!important;text-transform:uppercase;transition:all .1s linear;vertical-align:top;word-wrap:break-word">
                      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                        <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                          <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#299855;border:0!important;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:center!important;text-transform:uppercase;transition:all .1s linear;vertical-align:top;width:auto!important;word-wrap:break-word">
                            <%= link_to 'Login to report', root_url,
                                        style: 'Margin:0;border:0 solid #299855;border-radius:6px;color:#fff;display:inline-block;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1em;margin:0;outline:0;padding:15px 20px 15px 20px;text-align:center;text-decoration:none;transition:all .1s linear' %>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </th>
            <th class="expander" style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0!important;text-align:left;transition:all .1s linear;visibility:hidden;width:0"></th>
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table>
</div><!-- END CTA BUTTON -->
