<li class="card canvas-item drag-item-<%= report_item.width %>"
    id="report-item-<%= report_item.id %>"
    data-report-url="<%= report_item_path report_item %>">
  <!-- Item CTA action menu -->
  <div class="item-actions">
    <%= link_to report_item_path(report_item),
                class:  'card-report-cta', title: 'Delete', remote: true,
                method: :delete do %>
        <i class="ion-trash-a"></i>
    <% end %>
    <!--TODO: duplicate-->
    <!--<a class="card-report-cta" title="Duplicate">-->
    <!--<i class="ion-ios-copy"></i>-->
    <!--</a>-->
    <a class="card-report-cta" title="Edit" data-toggle="card_info_<%= report_item.id %>">
      <i class="ion-compose"></i>
    </a>
    <a class="card-report-cta handle" title="Move">
      <i class="ion-arrow-move"></i>
    </a>
  </div>
  <%= render 'report_items/report_header', report_item: report_item %>
  <div class="card-info" id="card_info_<%= report_item.id %>" data-toggler
       data-animate="fade-in fade-out" data-closable>
    <%= simple_form_for report_item,
                        remote: true do |f| %>
        <% case report_item.item_type.to_sym
           when :donut_chart, :pie_chart %>
            <%= f.input :content, placeholder: 'Chart Title',
                        label: false,
                        hint:                  'Add title for chart',
                        placeholder:           'Chart Title' %>
            <%= f.input :width,
                        label: false,
                        collection: [['Full Width', 12], ['1/2 Width', 6]],
                        hint:       'Select width of chart.' %>
            <%= f.input :url,
                        label: false,
                        collection: [['Volunteers', 'volunteer'],
                                     ['Adventures', 'adventures'],
                                     ['Tags', 'tags']],
                        hint:       'Select type of data to show.' %>

            <%= f.input :top, as: :tel, placeholder: 'Top #',
                        label: false,
                        hint:     'Top number of items to show.' %>

            <a class="close-button" title="Collapse" data-close>
              <i class="ion-close-round"></i>
            </a>
            <!-- END CHART ITEM -->
        <% when :bar_chart %>
            <%= f.input :content, placeholder: 'Chart Title',
                        label: false,
                        hint:                  'Add title for chart',
                        placeholder:           'Chart Title' %>
            <%= f.input :width,
                        label: false,
                        collection: [['Full Width', 12], ['1/2 Width', 6]],
                        hint:       'Select width of chart.' %>
            <%= f.input :url,
                        label: false,
                        collection: [['Volunteers', 'volunteer'],
                                     ['Adventures', 'adventures'],
                                     ['Tags', 'tags']],
                        hint:       'Select type of data to show.' %>

            <%= f.input :top, as: :tel, placeholder: 'Top #',
                        label: false,
                        hint:     'Top number of items to show.' %>

            <!--TODO: handle periodization charts as well-->
            <a class="close-button" title="Collapse" data-close>
              <i class="ion-close-round"></i>
            </a>
        <% when :line_chart, :area_chart, :scatter_chart %>
            <%= f.input :content, placeholder: 'Chart Title',
                        label: false,
                        hint:                  'Add title for chart',
                        placeholder:           'Chart Title' %>
            <%= f.input :width,
                        label: false,
                        collection: [['Full Width', 12], ['1/2 Width', 6]],
                        hint:       'Select width of chart.' %>
            <%= f.input :url,
                        label: false,
                        collection: [['Volunteers', 'volunteer'],
                                     ['Adventures', 'adventures'],
                                     ['Tags', 'tags']],
                        hint:       'Select type of data to show.' %>
            <%= f.input :period,
                        label: false,
                        collection: [['Day','day'],['Week','week'],
                                     ['Month','month'],['Quarter','quarter']],
                        hint: 'Group by time period' %>
            <%= f.input :op,
                        label:false,
                        collection: [['Count', 'count'], ['Hours', 'hours']],
                        hint: 'Group by field' %>

            <a class="close-button" title="Collapse" data-close>
              <i class="ion-close-round"></i>
            </a>
        <% when :heading %>
            <%= f.input :content,
                        hint:        'Add Heading text here',
                        placeholder: 'Type your content here' %>

            <!--TODO allow other heading sizes-->
            <!--<select>-->
            <!--<option value="h2">h2</option>-->
            <!--<option value="h3" selected>h3</option>-->
            <!--<option value="h4">h4</option>-->
            <!--</select>-->
            <!--<p class="help-text">Select size of heading.</p>-->

            <a class="close-button" title="Collapse" data-close>
              <i class="ion-close-round"></i>
            </a>
        <% when :text %>
            <%= f.input :content,
                        hint:        'Uses Markdown to generate html
              <a href="https://daringfireball.net/projects/markdown/basics"
              target="_blank" rel="nofollow">Instructions</a>'.html_safe,
                        placeholder: 'Type your content here' %>
            <%= f.input :width,
                        label: false,
                        collection: [['Full Width', 12], ['1/2 Width', 6]],
                        hint:       'Select width of chart.' %>

            <a class="close-button" title="Collapse" data-close>
              <i class="ion-close-round"></i>
            </a>
        <% when :hr %>
            <!--TODO: Hr-->
            <!--<div class="expanded row">-->
              <!--<div class="small-12 medium-6 columns">-->
                <!--<input id="" type="tel" placeholder="Thickness (px)">-->
                <!--<p class="help-text">Set line thickness</p>-->
              <!--</div>-->
              <!--<div class="small-12 medium-6 columns">-->
                <!--<select>-->
                  <!--<option value="line-type" selected>Line Style-->
                  <!--</option>-->
                  <!--<option value="solid">Solid</option>-->
                  <!--<option value="dashed">Dashed</option>-->
                <!--</select>-->
                <!--<p class="help-text">Select line style.</p>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="expanded row">-->
              <!--<div class="small-12 medium-2 columns">-->
                <!--<input class="volunteer-search jscolor {borderColor:'#000000', backgroundColor:'#303030'}" type="text" value="299855">-->
              <!--</div>-->
            <!--</div>-->
            <!--<p class="help-text" id="tag-help-text">Select line-->
              <!--color.</p>-->

            <a class="close-button" title="Collapse" data-close>
              <i class="ion-close-round"></i>
            </a>
        <% when :image %>
            <!-- Item body -->
            <label for="exampleFileUpload" class="button expanded sm img-upload-btn">Upload
              File</label>
            <input type="file" id="exampleFileUpload" class="sr-only">
            <p class="help-text">
              Choose your image. Must be .jpg or .png formats.
            </p>

            <a class="close-button" title="Collapse" data-close>
              <i class="ion-close-round"></i>
            </a>
            <!-- END IMAGE ITEM -->
        <% end %>
        <%= f.submit 'Save', class: 'button primary expanded' %>
    <% end %>
  </div>
</li>
