<% case report_item.item_type.to_sym
   when :donut_chart, :pie_chart, :bar_chart, :line_chart, :area_chart,
       :scatter_chart %>
    <% path = if report_item.options[:url] == 'volunteer'
                charts_volunteer_path(
                    club_id:    report_item.report.club_id,
                    tags:       report_item.tags.present? ? report_item.tags : nil,
                    context:    report_item.options['context'],
                    start_time: report_item.options['start_time'],
                    end_time:   report_item.options['end_time'],
                    top:        report_item.options['top'],
                    period:     report_item.options['period'],
                    op:         report_item.options['op']
                )
              elsif report_item.options[:url] == 'tags'
                charts_tags_path(
                    club_id:    report_item.report.club_id,
                    tags:       report_item.tags.present? ? report_item.tags : nil,
                    context:    report_item.options['context'],
                    start_time: report_item.start_time,
                    end_time:   report_item.end_time,
                    top:        report_item.options['top'],
                    period:     report_item.options['period'],
                    op:         report_item.options['op']
                )
              else
                charts_adventures_path(
                    club_id:    report_item.report.club_id,
                    tags:       report_item.tags.present? ? report_item.tags : nil,
                    context:    report_item.options['context'],
                    start_time: report_item.start_time,
                    end_time:   report_item.end_time,
                    top:        report_item.options['top'],
                    period:     report_item.options['period'],
                    op:         report_item.options['op']
                )
              end %>
    <!-- BEGIN CHART ITEM -->

    <!-- Item header -->
    <!-- TODO: Was thinking that whatever entered in input automatically updates the preview text without submitting form so they can see immediately the effect of their choice, like they do it on formbuilder (https://formbuilder.online/) -->
    <div class="card-header">
      <h5 class="preview-text"><%= report_item.content %></h5>
      <div class="item-chart">
        <%= send(report_item.item_type, path,
                 id:             "chart-#{report_item.id}",
                 primaryColor:   report_item.primary_color,
                 secondaryColor: report_item.secondary_color) %>
      </div>
    </div>
<% when :heading %>
    <div class="card-header">
      <h3 class="preview-text"><%= report_item.content %></h3>
    </div>
<% when :text %>
    <div class="card-header">
      <p class="preview-text"><%= report_item.content %></p>
    </div>
<% when :hr %>
    <div class="card-header card-header-hr">
      <hr/>
    </div>
<% when :image %>
    <div class="card-header card-header-img"><%= image_tag 'reports/biking1.jpg', class: 'preview-img' %></div>
<% end %>
