(function() {
  var canvas = $('.create-report-canvas');
  var element = $('<%= j render @report_item %>');

  if(!canvas.hasClass('filled')) {
    canvas.html('<ul class="menu vertical drag-container"></ul>');
    canvas.addClass('filled');
    refreshDraggable();
  }

  canvas.find('.menu').append(element);
  cloneDraggable(element);
  $(".drag-container").sortable('refresh');
  element.foundation();
  jscolor.installByClassName('jscolor');
})();
