(function() {
  $('#report-item-<%= @report_item.id %> .card-header')
      .replaceWith('<%= j render 'report_items/report_header',
      report_item: @report_item %>');

  $('#report-item-<%= @report_item.id %>')
      .removeClass('drag-item-6 drag-item-12')
      .addClass('drag-item-<%= @report_item.width %>');
})();
