// User avatars
// ------------------------------------------------------------
.user-avatar {
  position: relative;
  display: inline-block;
  background-color: $darker;
  border: 1px solid $darkest;
  border-radius: 50%;
  img {
    width: 100%;
    border-radius: 50% !important;
    overflow: hidden !important;
  }
  &.xs {
    width: 25px;
    height: 25px;
  }
  &.sm {
    width: 40px;
    height: 40px;
  }
  &.md {
    width: 55px;
    height: 55px;
  }
  &.lg {
    width: 80px;
    height: 80px;
  }
  &.profile {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    box-shadow: 0 0 0 4px rgba($darkest, 0.1);
    @include breakpoint(medium down) {
      width: 100px;
      height: 100px;
    }
  }
}
