// Global button fixes
// ------------------------------------------------------------
.button {
  text-transform: uppercase;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  &.assertive,
  &.balanced,
  &.energized,
  &.energized-light,
  &.primary,
  &.warning {
    color: $stable;
    &:focus,
    &:hover {
      color: $stable;
    }
  }
}
.close-button {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
// For Header
// ------------------------------------------------------------
.off-canvas-btn {
  float: left;
  background-color: transparent;
  color: $stable !important;
  font-size: 2rem;
  padding: 7px 10px;
  margin: 0;
  border: 0;
  @include breakpoint(medium down) {
    padding: 0 4px;
    margin-top: -2px;
  }
  &:focus,
  &:hover {
    background-color: inherit;
  }
}
.cta-container {
  float: left;
  @include breakpoint(medium down) {
    margin-top: 3px;
    margin-left: 10px;
  }
}
.add-adventure,
.search-toggle,
.settings-toggle,
.tags-add-toggle,
.tags-toggle {
  position: relative;
  float: left;
  background-color: transparent;
  color: $energized !important;
  font-size: 2rem;
  padding: 7px 10px;
  margin: 0;
  border: 0;
  @include breakpoint(medium down) {
    font-size: 1.6rem;
    padding: 0 10px;
    margin-top: -2px;
  }
  &.active,
  &:focus,
  &:hover {
    background-color: inherit;
    color: $energized-light !important;
  }
}
.tags-add-toggle {
  span {
    position: absolute;
    top: calc(50% - 0.35em);
    right: calc(50% - 0.35em);
    font-size: 0.5em;
    color: $darkest;
  }
}
// For Login
// ------------------------------------------------------------
.login-submit-btn {
  max-width: 400px;
  color: $stable !important;
  padding: rem-calc(17);
  margin: 0 auto !important;
}
// Social Share Buttons
// ------------------------------------------------------------
.social-share-container {
  &.sm {
    .ssb-icon {
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
    }
  }
  &.md {
    .ssb-icon {
      background-size: 36px 36px;
      height: 36px;
      width: 36px;
    }
  }
}
