// Truncated excerpts (must have a solid background color to work properly)
// ------------------------------------------------------------
@mixin excerpt($font-size: $paragraph-font-size, $line-height: 1.4, $lines-to-show: 3, $excerpt-bg: transparent) {
  background: $excerpt-bg;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $font-size*$line-height*$lines-to-show;
  /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @-moz-document url-prefix() {
    overflow: hidden;
    position: relative;
    &:before {
      background: $excerpt-bg;
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 1rem;
    }
    &:after {
      content: '';
      background: $excerpt-bg;
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1;
    }
  }
}
// Custom Card
// ------------------------------------------------------------
$card-gutter: 12px;
$card-radius: 12px;
.card-container {
  @include grid-layout(3, '.card-wrapper', $card-gutter);
  @include breakpoint(small down) {
     @include grid-layout(1, '.card-wrapper', $card-gutter);
  }
}
.card {
  position: relative;
  //min-height: 150px;
  background-color: rgba($darker, 1);
  text-align: center;
  padding: 0;
  margin-bottom: $card-gutter;
  border-radius: $card-radius;
  box-shadow: $drop-shadow-smallest;
  overflow: hidden !important;
  &:hover {
    box-shadow: $drop-shadow-small;
  }
  .club-edit-btn {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 1.6rem;
    background-color: transparent;
    padding: 5px;
    opacity: 0.5;
    z-index: 1000;
    &:focus,
    &:hover {
      background-color: transparent;
      opacity: 1;
    }
  }
  .card-header,
  .card-info {
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  .card-header {
    padding: 40px 30px 0;
  }
  .card-info {
    padding: 10px 30px 45px;
  }
  .card-footer {
    padding: 0;
  }
  .card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $card-radius;
    opacity: 0.1;
    z-index: 1;
  }
  .duration {
    color: $balanced;
    font-size: 1rem;
    text-transform: uppercase;
    i {
      opacity: 0.5;
    }
  }
  .switch {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 3 !important;
    cursor: not-allowed !important;
    .switch-active,
    .switch-inactive,
    i {
      font-size: 1.2rem;
      color: $energized !important;
    }
    input {
      display: none;
    }
    input:disabled {
      & + label {
        background-color: transparent;
        cursor: default;
        &:after {
          background-color: transparent;
        }
      }
    }
    input:disabled:checked + label {
      background-color: transparent;
      cursor: default;
    }
  }
  .tracking {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    color: $stable;
    text-align: center;
    padding: 5px;
    border-radius: 0 0 $card-radius $card-radius;
    z-index: 2;
    &.enabled {
      background-color: rgba($calm, 0.4);
      &:after {
        font-family: "Ionicons";
        content: "\f120";
        margin-left: 5px;
        opacity: 0.5;
      }
    }
    &.disabled {
      background-color: rgba($darker, 1);
    }
  }
}
// Dashboard Card
// ------------------------------------------------------------
.card-dashboard {
  cursor: pointer;
}
// Report Card
// ------------------------------------------------------------
.card-report {
  text-align: left;
  .card-preheader {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    .card-report-cta {
      display: inline-block;
      float: right;
      color: $stable;
      font-size: 1.4rem;
      margin: 0 7px;
      opacity: 0.5;
      &:hover {
        color: inherit;
        opacity: 1;
      }
    }
    .status-published {
      color: $energized;
      &:focus,
      &:hover {
        color: $energized-light;
      }
    }
  }
  .card-info {
    padding: 0 30px;
    margin-bottom: 90px;
  }
  .card-heading {
    text-transform: uppercase;
    color: $balanced;
    margin-bottom: 10px;
  }
  .card-description {
    @include excerpt($font-size: 0.875rem, $line-height: 1.2, $lines-to-show: 3, $excerpt-bg: $darker);
    color: $dark-gray;
    margin-bottom: 5px;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba($black, 0.2);
    padding: 10px 30px 0;
    border-radius: 0 0 $card-radius $card-radius;
  }
}
.report-stats {
  font-size: 1.4rem;
  color: rgba($balanced, 0.5);
  text-transform: uppercase;
  cursor: default;
  span {
    display: block;
    color: $balanced;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.card-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $dark-gray;
  font-size: 4rem;
  text-align: center;
  border: 3px dashed $dark-gray;
  box-shadow: 0 0 0 0;
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    opacity: 1;
    box-shadow: inherit;
  }
  a {
    display: block;
    color: inherit;
    width: 100%;
    padding: 30px;
  }
}
