// Custom datedropper
// ------------------------------------------------------------
.picker-modal-overlay {
  background-color: $reveal-overlay-background;
}
div.datedropper.dark {
  border-radius: $reveal-radius;
  width: 160px;
  border: $reveal-border;
  background-color: $reveal-background;
  [class*=" pick-i-"]:before,
  [class^="pick-i-"]:before {
    font-family: "Ionicons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .pick-i-lng:before {
    content: "\f386";
  }
  .pick-i-lkd:before {
    content: "\f386";
  }
  .pick-i-ckd:before {
    content: "\f386";
  }
  .pick-i-r:before {
    content: "\f125";
  }
  .pick-i-l:before {
    content: "\f124";
  }
  .pick-i-min:before {
    content: "\f386";
  }
  .pick-i-exp:before {
    content: "\f386";
  }
  .pick-submit {
    background-color: $energized !important;
    &:hover {
      background-color: $energized-light !important;
    }
    &:after {
      display: none !important;
    }
    &:before {
      font-family: "Ionicons" !important;
      content: "\f121" !important;
    }
  }
  .pick-btn-sz {
    &:hover {
      background-color: $darkest !important;
    }
    &:after {
      display: none !important;
    }
    &:before {
      font-family: "Ionicons" !important;
      content: "\f386" !important;
      color: $stable !important;
    }
  }
  .picker-input {
    cursor: text;
  }
  .picker {
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba($black, 0.5);
  }
  .pick-l {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &:before,
  .pick-lg-b .pick-sl:before,
  .pick-lg-h,
  .pick-m,
  .pick-submit {
    background-color: $darkest;
  }
  .pick li span,
  .pick-btn,
  .pick-lg-b .pick-wke,
  .pick-y.pick-jump {
    color: $darkest;
  }
  .pick-l,
  .picker {
    background-color: rgba($darker, 1);
  }
  .pick-arw,
  .pick-l,
  .pick-lg-b .pick-sl,
  .pick-lg-h,
  .picker {
    color: $stable;
  }
  .pick-m {
    color: $stable;
    .pick-arw {
      color: $stable;
    }
  }
  .pick-submit {
    color: $stable;
  }
  &.picker-tiny {
    &:before,
    .pick-m {
      background-color: $darker;
    }
    .pick-m {
      color: $stable;
      .pick-arw {
        color: $stable;
      }
    }
  }
  &.picker-lkd .pick-submit {
    background-color: $darker;
    color: $stable;
  }
  .pick-sl {
    color: $stable !important;
    background-color: rgba($darkest, 0.5) !important;
    span {
      color: $dark-gray !important;
    }
  }
  .pick-wke {
    color: $stable !important;
    opacity: 0.5 !important;
  }
  .pick-h {
    color: $stable !important;
    opacity: 0.15 !important;
  }
  .pick-n,
  .pick-sl,
  .pick-v {
    &:hover {
      text-decoration: none !important;
    }
  }
}
