// Global Error / Notice
// ------------------------------------------------------------
#error,
#notice,
.volunteer-error,
.volunteer-notice {
  position: fixed !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 56px;
  top: 0 !important;
  left: 0 !important;
  color: $stable;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 45px;
  margin: 0;
  z-index: 9999;
  @include breakpoint(medium down) {
    min-height: 44px;
  }
  .close-button {
    top: calc(50% - 1rem);
    font-size: 2rem !important;
  }
}
#error,
.volunteer-error,
.error {
  background-color: $assertive;
}
.error {
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0 !important;
}
small {
  display: block;
  width: 100% !important;
  text-align: center;
  .error {
    padding: 5px;
  }
}
.volunteer-notice {
  background-color: rgba($calm, 0.95);
}
