// Custom checkbox
// ------------------------------------------------------------
.volunteer-checkbox-radio {
  $checkbox-width: 25px;
  position: relative;
  display: inline-block;
  width: $checkbox-width;
  height: $checkbox-width;
  border: 1px solid rgba($black, 1);
  overflow: hidden;
  *,
  *:before {
    transition: all 0.1s linear;
  }
  input[type=checkbox] {
    position: absolute;
    display: none;
    &+ label {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: $checkbox-width;
      height: $checkbox-width;
      cursor: pointer;
      font-family: "Ionicons";
      font-size: 13px;
      color: $dark-gray;
      &:before {
        position: absolute;
        top: 0;
        left: (-$checkbox-width/2);
        width: $checkbox-width;
        height: $checkbox-width;
        content: "";
        background-color: $dark-gray;
      }
      &:hover {
        &:before {
          background-color: $dark-gray;
          color: $dark-lighter !important;
          content: "\f121";
          text-align: left;
          padding-left: 6px;
        }
      }
    }
    // Disabled
    &:disabled {
      &+ label {
        font-size: 16px;
        cursor: not-allowed;
        pointer-events: none;
        &:before {
          background-color: transparent;
          color: $dark-gray;
          content: "\f208";
        }
      }
      // Disabled checked
      &:checked + label {
        &:before {
          background-color: transparent;
          color: $energized;
          content: "\f121";
          text-align: left;
          padding-left: 6px;
        }
      }
    }
    // Checked
    &:checked + label {
      &:before {
        background-color: $energized;
        color: $white;
        content: "\f121";
        text-align: left;
        padding-left: 6px;
      }
    }
  }
}
// Switch
// ------------------------------------------------------------
.switch {
  .switch-active,
  .switch-inactive,
  i {
    color: $stable !important;
    font-size: 0.9rem;
  }
  i {
    margin-left: 7px;
    opacity: 1 !important;
  }
}
// Best In Place editable field
// ------------------------------------------------------------
.best_in_place {
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
  color: $stable !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  text-align: center !important;
  margin: 0 !important;
  border: 2px dashed rgba($stable, 0.25);
  cursor: pointer;
  &:after {
    position: absolute;
    top: calc(50% - 0.75rem);
    right: 20px;
    font-size: 1rem !important;
    font-family: "Ionicons";
    content: "\f12c" !important;
    opacity: 0.5;
  }
}
.form_in_place {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  color: $stable !important;
  text-align: center !important;
  padding: 0 !important;
  margin: 0 !important;
  input {
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  &:focus {
    border: 2px dashed $dark-gray !important;
  }
}
// Inputs for Clubs Edit
// ------------------------------------------------------------
.email-text-container,
.incentive-input-container {
  input,
  textarea {
    margin-bottom: 5px;
    border: 2px solid $darker;
    &:focus {
      border: 2px dashed $dark-lighter;
    }
  }
}
.incentive-input-container {
  .nested-fields {
    width: 100%;
    input,
    textarea {
      min-height: 55px !important;
    }
    textarea {
      padding-top: 16px;
    }
    .delete-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55px;
      background-color: transparent;
      color: $stable;
      font-size: 1.6rem;
      padding: 15px;
      opacity: 0.5;
      @include breakpoint(small down) {
        padding: 15px 5px;
      }
      &:focus,
      &:hover {
        background-color: transparent;
        color: $stable;
        opacity: 1;
      }
    }
  }
}
// For color picker inputs on report create
// ------------------------------------------------------------
.color-picker-input {
  margin-right: 100px !important;
}
