body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
*,
*:active,
*:focus,
*:hover {
  transition: all 0.15s linear;
  outline: none;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
.button {
  text-transform: uppercase;
}
.sr-only {
  display: none !important;
}
.menu {
  background-color: transparent !important;
}
.container {
  margin-right: $module-spacing;
  @include breakpoint(medium down) {
    margin-right: 0;
  }
}
.center-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.right-text {
  text-align: right;
}
.single-line-text,
.single-line-text div,
a.single-line-text {
  width: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
// Input Placeholder
// ------------------------------------------------------------
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
select {
  border-radius: 0;
}
input,
select,
textarea {
  -webkit-appearance: none !important;
}
// Scrollbars (browser dependent)
// ------------------------------------------------------------
@mixin scrollbars($size, $foreground-color, $background-color: $black) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  ::-webkit-scrollbar-button {
    background-color: $dark;
  }
  ::-webkit-scrollbar-track {
    background: $background-color;
  }
  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
// Animation
// ------------------------------------------------------------
.fade-in {
  @include mui-fade(in, $duration: 0.1s);
}
// Typography
// ------------------------------------------------------------
.adventure-name,
.club-name,
.user-name {
  color: $stable;
  a {
    color: $stable;
    &:focus,
    &:hover {
      color: darken($stable, 10%) !important;
    }
  }
  i {
    font-size: 0.875em;
    opacity: 0.5;
    margin-left: 5px;
  }
}
.volunteer-total {
  color: $balanced;
  font-weight: bold;
  span {
    display: inline-block !important;
  }
}
.help-text {
  display: block;
  color: rgba($stable, 0.4);
  margin-top: 0;
  text-transform: none;
}
blockquote {
  position: relative;
  padding-left: 4.25rem;
  font-style: oblique;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Ionicons";
    content: "\f347";
    color: $dark-lighter;
    font-size: 4rem;
    font-style: normal;;
  }
}
// Header
// ------------------------------------------------------------
.main-header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: $darkest;
  padding: 0.5rem 0.75rem;
  z-index: 1000;
  @include breakpoint(medium down) {
    margin-top: 35px;
    height: 44px;
  }
  .user-avatar {
    width: 34px !important;
    height: 34px !important;
    float: right;
    margin-top: 5px;
    margin-left: 0.75rem;
    @include breakpoint(medium down) {
      margin: -3px 0 0 10px;
    }
  }
}
// Off Canvas  Menu
// ------------------------------------------------------------
.off-canvas {
  background-color: rgba($black, 0.9);
  padding: 40px 0 0;
  border-right: $module-spacing solid $darkest;
  @include breakpoint(medium down) {
    webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    width: 100%;
    text-align: center;
    padding: 40px 50px;
  }
  .close-button {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 2.4rem;
  }
  .off-canvas-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    img {
      max-width: 100px;
      @include breakpoint(medium down) {
        max-width: 150px;
      }
    }
  }
  .menu {
    li {
      padding: 0;
      &:hover {
        background-color: rgba($darker, 0.5);
      }
      .active {
        background-color: rgba($darkest, 1);
        color: $energized-light !important;
      }
      @include breakpoint(medium down) {
        border-bottom: 1px solid rgba($darker, 0.85);
        &:hover {
          background-color: transparent;
        }
        .active {
          background-color: transparent;
          color: lighten($energized, 25%);
        }
      }
    }
    a {
      font-size: 0.875rem;
      text-transform: uppercase;
      @include breakpoint(medium down) {
        font-size: 1rem;
      }
      span {
        display: inline-block;
        margin-left: 5px;
        @include breakpoint(medium down) {
          width: 100px;
          text-align: left;
          margin-left: 10px;
        }
      }
    }
    i {
      width: 30px;
      font-size: 1.65em;
      text-align: center;
      margin-right: 5px;
      opacity: 0.5;
      @include breakpoint(medium down) {
        width: 20px;
      }
    }
  }
  .menu li:last-child {
    border-bottom: 0;
  }
}
// Dropdowns
// ------------------------------------------------------------
.select-club-btn {
  position: relative;
  margin: 5px 0;
  @include breakpoint(medium down) {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 35px;
    border: 0 !important;
    background-color: $black !important;
  }
  i {
    margin-left: 5px;
  }
}
.select-club-pane {
  background-color: $darkest;
  width: 500px;
  height: auto;
  max-height: 265px;
  top: 46px !important;
  text-align: left;
  padding: 0 10px;
  overflow-y: auto;
  border: 3px dashed $balanced;
  box-shadow: $drop-shadow-small;
  @include breakpoint(medium down) {
    position: fixed !important;
    top: 36px !important;
    right: auto;
    left: 0;
    width: 100%;
    max-height: calc(100% - 38px) !important;
    overflow-y: auto !important;
    z-index: 1008 !important;
  }
  ul {
    opacity: 0;
    // fix for flashing list items during dropdown close
  }
  &.is-open ul {
    opacity: 1;
  }
  li {
    padding: 3px 0;
    border-bottom: 1px solid rgba($dark-gray, 0.25);
    &:last-child {
      border-bottom: 0;
    }
  }
  a {
    color: $medium-gray;
    font-size: 0.75rem;
    text-transform: uppercase;
    &:hover {
      color: $white;
    }
  }
  i {
    font-size: 1.7em;
    opacity: 0.5;
  }
  span {
    margin-left: 5px;
  }
}
.show-panel {
  display: block !important;
}
.filter-search-panel {
  position: relative;
  display: none;
  padding: 10px 20px 30px;
  @include breakpoint(medium down) {
    padding: 30px 20px;
    border-top: $hr-border;
  }
  i {
    opacity: 0.5;
  }
  .filter-tag-wrapper {
    margin-left: 0;
    @include breakpoint(medium down) {
      margin-left: 0;
    }
  }
  .availability-wrapper {
    @include breakpoint(medium down) {
      margin-bottom: 20px;
    }
  }
  .search-btn {
    display: inline-block;
    height: 45px;
    margin: 0;
    opacity: 0.7;
    @include breakpoint(medium down) {
      width: 100%;
      margin: 10px 0;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  .clear-btn {
    background-color: $darker;
    color: $dark-gray;
    height: 45px;
    margin: 0 0 0 2px;
    padding-left: 0;
    padding-right: 0;
    &:focus,
    &:hover {
      background-color: $darker;
    }
    @include breakpoint(medium down) {
      width: 100%;
      height: auto;
      margin: 0;
    }
    &:hover {
      background-color: $darker;
    }
  }
  .available-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darker;
    border-radius: 8px;
    width: 50%;
    height: 55px;
    &:hover {
      background-color: $darker;
    }
  }
}
.report-filter-panel {
  border-top: 1px solid $dark;
  border-bottom: 1px solid $dark;
  padding: 30px;
  margin-bottom: 20px;
  input, textarea {
    margin-bottom: 5px;
  }
}
// Side Panels
// ------------------------------------------------------------
$panel-background-color: rgba($black, 0.98);
$panel-width: 30%;
.club-settings-panel,
.settings-panel {
  @include scrollbars(.75em, $dark-lighter);
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  width: 100%;
  max-width: $panel-width;
  height: 100%;
  background-color: $panel-background-color;
  border: $hr-border;
  padding-bottom: 45px;
  z-index: 1005;
  @include breakpoint(large up) {
    box-shadow: $drop-shadow-medium;
  }
  @include breakpoint(medium down) {
    position: relative;
    max-width: 100%;
    background-color: rgba($darkest, 1);
    padding-bottom: 0;
    margin-bottom: $module-spacing;
    border: 0;
    border-top: $hr-border;
    z-index: 0;
  }
  .panel-heading {
    color: $medium-gray;
    margin-top: 20px;
  }
  .panel-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 45px);
    padding: 30px 50px;
    overflow-y: auto;
    @include breakpoint(medium down) {
      position: relative;
      height: auto;
      padding: 20px;
      border: 0;
    }
    .panel-save-btn {
      position: fixed;
      bottom: 0;
      right: 0;
      width: calc(#{$panel-width} - 1px);
      margin: 0;
      opacity: 0.7;
      height: 45px;
      &:hover {
        opacity: 1;
      }
      @include breakpoint(medium down) {
        position: relative;
        width: 100%;
      }
    }
  }
  .skillset {
    color: $energized;
    span {
      font-weight: bold;
    }
  }
  .distance {
    color: $balanced;
    margin-bottom: 20px;
    span {
      font-weight: bold;
    }
    i {
      margin-right: 5px;
      opacity: 0.5;
    }
  }
  label {
    color: $balanced;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
}
.club-settings-panel {
  position: relative;
  display: block;
  max-width: 100%;
  background-color: transparent;
  padding: 20px 30px 30px;
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
  z-index: 1;
  @include breakpoint(medium down) {
    padding: 20px 20px 30px;
  }
  .distance {
    color: $balanced;
    margin-top: 0;
  }
  .button {
    margin: 0;
    max-width: 400px;
  }
  .panel-save-btn {
    max-width: 100%;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
.availability {
  text-align: center;
  padding: 0;
  margin: -10px 0 20px;
  .header {
    margin-bottom: -10px;
  }
  .row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $darker;
  }
  .row:first-child,
  .row:last-child {
    border: 0;
  }
  .heading {
    color: $dark-gray;
    font-size: 0.875rem;
    text-transform: uppercase;
    &.calendar {
      font-size: 2em;
    }
  }
  i {
    opacity: 0.5;
  }
  .volunteer-checkbox-radio {
    margin: 0 0 -5px;
  }
}
// Sidebars / Charts
// ------------------------------------------------------------
.sidebar {
  min-height: 150px;
  padding: 10px 30px;
  //border-left: $hr-border;
  margin-top: 20px;
  text-align: left;
  @include breakpoint(small down) {
    padding: 20px;
    border-left: 0;
    border-top: $hr-border;
  }
  // Custom sidebar scrollbar
  @include scrollbars(.75em, $dark-lighter);
}
.chart-container {
  border: 0;
  text-align: center;
  @include breakpoint(large up) {
    padding: 0 4px 0 0;
  }
  @include breakpoint(small down) {
    border-bottom: $hr-border;
  }
  .chart {
    padding: 15px 30px 30px;
    margin-bottom: 12px;
    border: 3px dashed $dark;
    border-radius: $card-radius;
    @include breakpoint(medium only) {
      min-height: 390px;
    }
  }
  .chart-heading {
    margin-bottom: 15px;
  }
}
// Adventure / User / Club Show
// ------------------------------------------------------------
.banner-show {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 50px;
  margin-bottom: $card-gutter;
  overflow: hidden;
  border-top: $hr-border;
  border-bottom: $hr-border;
  @include breakpoint(large up) {
    min-height: 300px;
  }
  @include breakpoint(medium down) {
    padding: 40px 30px 35px;
    margin-bottom: $module-spacing;
  }
}
.media-object {
  margin: 0;
}
.show-adventure-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}
.show-content {
  position: relative;
  max-width: 600px;
  text-align: left;
  z-index: 15;
  @include breakpoint(small down) {
    text-align: center;
  }
  .user-avatar {
    margin-right: 30px !important;
    @include breakpoint(small down) {
      margin: 0 !important;
      text-align: center;
    }
  }
}
.show-adventure-type,
.show-adventures-created,
.show-hosted,
.show-location,
.show-skills,
.show-time,
.show-user-name,
.show-volunteers,
.show-website {
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 1em;
}
.show-website {
  text-transform: lowercase !important;
}
.show-skills {
  min-width: 500px;
  @include breakpoint(small down) {
    min-width: auto;
  }
  .tag-item {
    opacity: 0.8;
  }
}
.show-user-name {
  text-transform: uppercase;
}
.show-volunteers {
  color: $balanced !important;
  span {
    font-weight: bold;
  }
}
.show-adventures-created {
  span {
    font-weight: bold;
    color: $balanced;
  }
}
// Placeholder banners and content
// ------------------------------------------------------------
.placeholder-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 50px;
  background-image: image-url("");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: $module-spacing;
  border-top: $hr-border;
  border-bottom: $hr-border;
  @include breakpoint(large up) {
    min-height: 300px;
  }
  h2 {
    @include breakpoint(large up) {
      font-size: 4rem;
    }
    text-transform: uppercase;
  }
  h3 {
    text-transform: none;
  }
}
.placeholder-no-results {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 20px;
  margin-bottom: $module-spacing;
  border: 3px dashed $darker;
  @include breakpoint(small down) {
    display: block;
    padding: 20px 20px 25px;
  }
  h3 {
    color: $balanced;
    text-transform: none;
    margin: 0 0 0 10px;
    @include breakpoint(small down) {
      font-size: 1.4rem;
      margin: 0 0 20px;
    }
    span {
      text-align: center;
    }
  }
  img {
    width: 100%;
    opacity: 0.25;
    text-align: right;
    @include breakpoint(medium down) {
      max-width: 250px;
    }
  }
  .button {
    margin: 0;
  }
}
.no-content {
  .volunteer-table-row {
    @include breakpoint(medium down) {
      border-bottom: 3px dashed $dark !important;
    }
    &:nth-child(odd) {
      .table-cell {
        background-color: transparent !important;
      }
    }
    &:nth-child(even) {
      .table-cell {
        background-color: transparent !important;
      }
    }
  }
  .table-cell {
    border: 3px dashed $dark !important;
    @include breakpoint(medium down) {
      border-bottom: 0 !important;
    }
    p {
      background-color: $darker !important;
      color: transparent !important;
      border-radius: 4px !important;
      margin: 0;
    }
  }
}
