// Incentive progress bars
// ------------------------------------------------------------
$progress-bar-color: $calm;
$progress-message-color: $tooltip-background-color;
$progress-club-color: $medium-gray;
$progress-pip-width: 7px;
$progress-pip-offset: ($progress-pip-width/2);
.incentive-container {
  padding: 30px;
  margin: 0;
  .incentive-heading {
    margin-bottom: 0;
  }
  .incentive-subheading {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    span {
      display: inline-block;
      color: $progress-message-color;
      margin-right: 5px;
    }
  }
}
.club-incentive {
  margin-bottom: 5px;
  .progress {
    position: relative;
    width: calc(100% - #{$progress-pip-width});
    margin-bottom: 10px;
    border-radius: $progress-pip-width;
  }
  .progress-meter {
    position: relative;
    display: inline-block;
    float: left;
    background-color: rgba($progress-bar-color,1);
    background: linear-gradient(to right, darken($progress-bar-color, 30%) 0%, $progress-bar-color 100%);
    border-radius: $progress-pip-width;
    z-index: 1;
  }
  .pip-container {
    position: absolute;
    top: calc(50% - #{$progress-pip-offset});
    left: 0;
    width: 100%;
    height: $progress-height;
  }
  .pip {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: (-$progress-pip-width/2);
    width: $progress-pip-width;
    height: $progress-pip-width;
    background-color: $dark-lighter;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 4px $darkest;
    border-radius: $progress-pip-width;
    cursor: pointer !important;
    z-index: 2;
    // To give something for the tooltip to attach to
    i {
      font-size: $progress-pip-width;
      line-height: 0;
      padding: 5px 4px;
      color: transparent;
      cursor: pointer !important;
    }
    &.complete {
      background-color: $progress-message-color;
    }
  }
  .club-name {
    color: $progress-club-color;
    font-size: 0.875rem;
    text-transform: uppercase;
    display: inline-block;
  }
  .club-time {
    color: $progress-message-color;
    font-size: 0.875rem;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    span {
      font-weight: normal;
    }
    &.complete {
      color: $progress-message-color;
    }
  }
}
.card-incentive {
  $progress-pip-width: 4px;
  $progress-pip-offset: ($progress-pip-width/2);
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
  height: $progress-pip-width;
  padding: 0 20px;
  .progress {
    background-color: $darkest !important;
    height: $progress-pip-width;
  }
  .pip-container {
    top: calc(50% - #{$progress-pip-offset});
    height: $progress-height;
  }
  .pip {
    width: $progress-pip-width;
    height: $progress-pip-width;
    box-shadow: 0 0 0 2px $darkest;
  }
}
// Tooltips / Popovers
// ------------------------------------------------------------
.incentive-tooltip {
  position: fixed !important;
  top: auto !important;
  bottom: 8px !important;
  left: calc(#{$offcanvas-size} + #{$card-gutter}) !important;
  width: calc(67% - #{$offcanvas-size} + 2*#{$card-gutter}) !important;
  max-width: calc(67% - #{$offcanvas-size} + 2*#{$card-gutter}) !important;
  background-color: rgba($black, 0.95)!important;
  color: $progress-club-color;
  text-align: left;
  padding: 20px;
  border: 3px dashed $tooltip-background-color;
  border-radius: $card-radius;
  box-shadow: $drop-shadow-large;
  @include breakpoint(medium down) {
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    text-align: left;
  }
  &.complete {
    background-color: rgba($tooltip-background-color, 0.97)!important;
    border: 2px solid $tooltip-background-color !important;
    color: $tooltip-color !important;
    h6 {
      color: $stable;
      font-size: 1.2rem;
      i {
        font-size: 1.2rem;
      }
      span {
        display: inline-block;
        float: right;
        font-size: 1rem;
      }
    }
  }
  h6 {
    color: $tooltip-background-color;
    font-size: 1.2rem;
    text-transform: uppercase;
    span {
      display: inline-block;
      float: right;
      font-size: 1rem;
    }
  }
  p {
    margin-bottom: 0;
    font-size: 1rem !important;
    line-height: 1em !important;
  }
  hr {
    margin: 5px 0;
    display: none;
  }
}
// Tooltips in Incentives Reveal Panel
// ------------------------------------------------------------
.incentives-panel {
  top: 0 !important;
  .incentive-container {
    margin: 20px 0;
  }
  .panel-inner {
    height: 100% !important;
    overflow-y: auto;
  }
  hr {
    margin: 1rem auto;
  }
  .user-name {
    color: $energized !important;
  }
  .placeholder-tooltip {
    h6 {
      margin: 0;
      text-transform: none;
    }
  }
  .incentive-tooltip {
    position: relative !important;
    display: block !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    text-align: left;
    margin-top: 10px;
    box-shadow: 0 0 0 0;
    h6 {
      font-size: 1.1rem;
      i {
        font-size: 1.1rem;
      }
      span {
        font-size: 0.875rem;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}
