.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: $darker;
  padding: 0;
  margin: $module-spacing 2px;
  @include breakpoint(medium down) {
    height: 44px;
    span {
      display: none;
    }
  }
  li {
    a {
      font-size: 0.875rem;
      text-transform: uppercase;
      color: $dark-gray;
      @include breakpoint(medium down) {
        font-size: 1rem;
      }
      &:focus,
      &:hover {
        color: $stable;
      }
    }
  }
  .current {
    border: 1px solid $balanced !important;
    @include breakpoint(medium down) {
      font-size: 1rem;
    }
  }
  .last-page {
    &:after {
      font-family: "Ionicons";
      content: "\f3d1";
    }
  }
  .first-page {
    &:before {
      font-family: "Ionicons";
      content: "\f3cf";
    }
  }
}
