.reveal {
  padding: 25px 30px 30px;
  box-shadow: $drop-shadow-large;
  outline: none;
  .reveal-heading {
    margin-bottom: 15px;
  }
  input {
    margin: 0;
  }
  .input-group-button .button,
  .input-group-label,
  input {
    height: 45px !important;
  }
  textarea {
    margin: 0;
    min-height: 175px;
  }
  .input-group-label {
    padding-right: 5px;
    height: 45px !important;
    overflow: hidden !important;
  }
  .input-group {
    margin-bottom: 5px;
    i {
      font-size: 1.4em;
      opacity: 0.25;
    }
  }
  .email-recipients {
    color: $dark-gray;
    border-top: 1px solid $dark-light;
    padding: 15px 0;
    margin-bottom: 0;
    text-transform: capitalize;
    i {
      opacity: 0.5;
    }
    span {
      color: $stable;
    }
  }
  .tabs {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 0.75rem !important;
  }
  .tabs-title {
    margin-right: $module-spacing;
  }
  .share-report-url {
    color: $energized;
  }
  .share-report-embed,
  .share-report-url {
    font-size: 0.75rem;
  }
  .share-notification-banner {
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    font-style: italic;
    padding: 0 20px;
    margin-top: -8px;
    color: $assertive;
  }
  &.reveal-availability {
    background-color: $darkest;
  }
}
.profile-panel {
  @include scrollbars(.75em, $dark-lighter);
  @include breakpoint(large up) {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: auto !important;
    width: 100% !important;
    max-width: $panel-width !important;
    height: 100% !important;
    background-color: $panel-background-color !important;
    padding-bottom: 45px;
    border: $hr-border !important;
    box-shadow: $drop-shadow-medium !important;
    overflow: hidden !important;
  }
  .close-button {
    z-index: 9999;
    @include breakpoint(large up) {
      right: 30px;
    }
  }
  .panel-inner {
    @include breakpoint(large up) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: calc(100% - 45px);
      padding: 30px 50px;
      overflow-y: auto;
    }
  }
  .panel-save-btn {
    @include breakpoint(large up) {
      position: fixed;
      bottom: 0;
      right: 0;
      width: calc(#{$panel-width} - 1px);
      margin: 0;
      opacity: 0.7;
      height: 45px;
    }
    @include breakpoint(medium down) {
      margin-bottom: 30px;
    }
  }
  .hours-worked {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $balanced;
    span {
      font-weight: bold;
    }
  }
  .last-attended {
    font-size: 11px;
    text-transform: uppercase;
  }
  .incentive-container {
    padding: 10px 0 30px;
  }
  .pip {
    box-shadow: 0 0 0 4px $panel-background-color;
  }
}
.reveal-report-info {
  textarea {
    min-height: 100px;
  }
}
