//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17. Dropdown
//  18. Dropdown Menu
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Meter
//  24. Off-canvas
//  25. Orbit
//  26. Pagination
//  27. Progress Bar
//  28. Responsive Embed
//  29. Reveal
//  30. Slider
//  31. Switch
//  32. Table
//  33. Tabs
//  34. Thumbnail
//  35. Title Bar
//  36. Tooltip
//  37. Top Bar
//  38. Drop Shadows

@import 'util/util';

// 1. Global
// ------------------------------------------------------------

$global-font-size: 100%;
$global-width: rem-calc(1350);
$global-lineheight: 1.5;

$calm: #16A3F2;
$balanced: #F26530;
$energized-light: #3adb76;
$energized: #299855;
$assertive: #F13647;
$royal: #9A72FF;
$sunny: #EF9D45;
$black: #000000;
$darkest: #1a1a1a;
$darker: #272727;
$dark: #303030;
$dark-light: #373737;
$dark-lighter: #515151;
$dark-gray: #8a8a8a;
$medium-gray: #cccccc;
$light-gray: #e6e6e6;
$stable: #f1f1f1;
$white: #ffffff;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$strava-color: #fc4c02;
$googleplus-color: #dd4b39;
$youtube-color: #cc181e;
$instagram-color: #125688;
$email-color: $sunny;
$message-color: $energized-light;
$hyperlink-color: $energized;
$hyperlink-color-hover: $energized-light;

$foundation-palette: (
    primary: $calm,
    secondary: $dark-lighter,
    tertiary: $dark-gray,
    success: $energized-light,
    warning: $sunny,
    alert: $assertive,
    balanced: $balanced,
    energized: $energized,
    facebook: $facebook-color,
    strava: $strava-color,
    twitter: $twitter-color,
    google-plus: $googleplus-color,
    instagram: $instagram-color,
);

$body-background: $darkest;
$body-font-color: $stable;
$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;

@include add-foundation-colors;

// 2. Breakpoints
// ------------------------------------------------------------
$breakpoints: ( small: 0, medium: 640px, large: 1024px, xlarge: 1200px, xxlarge: 1440px, );
$breakpoint-classes: (small medium large);
$print-breakpoint: (medium);

// 3. The Grid
// ------------------------------------------------------------
$grid-row-width: $global-width;
$grid-column-count: 12;
$module-spacing: 4px;
$grid-column-gutter: ( small: $module-spacing, medium: $module-spacing, large: $module-spacing, );
$grid-column-align-edge: false;
$block-grid-max: 8;

// 4. Base Typography
// ------------------------------------------------------------

$header-font-family: $body-font-family;
$header-font-weight: $global-weight-normal;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-color: inherit;
$header-lineheight: 1.1;
$header-margin-bottom: 0.5rem;
$header-styles: (
        small: (
                'h1': ('font-size': 24),
                'h2': ('font-size': 20),
                'h3': ('font-size': 19),
                'h4': ('font-size': 18),
                'h5': ('font-size': 17),
                'h6': ('font-size': 16),
        ),
        medium: (
                'h1': ('font-size': 36),
                'h2': ('font-size': 32),
                'h3': ('font-size': 28),
                'h4': ('font-size': 22),
                'h5': ('font-size': 18),
                'h6': ('font-size': 16),
        ),
);
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;
$paragraph-lineheight: 1.4;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$code-color: $darkest;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $medium-gray;
$code-border: 1px solid $dark-gray;
$code-padding: rem-calc(2 5 1);
$anchor-color: $energized;
$anchor-color-hover: scale-color($anchor-color, $lightness: 25%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $darker;
$hr-margin: rem-calc(30) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color: $dark-gray;
$blockquote-padding: 1rem;
$blockquote-border: 0 solid $dark-gray;
$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;
$cite-pseudo-content: '\2014 \0020';
$keystroke-font: $font-family-monospace;
$keystroke-color: $darkest;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $darkest;

// 5. Typography Helpers
// ------------------------------------------------------------

$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $stable;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;

// 6. Abide
// ------------------------------------------------------------

$abide-inputs: true;
$abide-labels: true;
$input-background-invalid: rgba($alert-color, 0.8);
$form-label-color-invalid: $white;
$input-error-color: $alert-color;
$input-error-font-size: rem-calc(12);
$input-error-font-weight: $global-weight-normal;

// 7. Accordion
// ------------------------------------------------------------

$accordion-background: $darker;
$accordion-plusminus: true;
$accordion-title-font-size: rem-calc(12);
$accordion-item-color: foreground($accordion-background, $primary-color);
$accordion-item-background-hover: $darker;
$accordion-item-padding: 1.25rem;
$accordion-content-background: $darkest;
$accordion-content-border: 0 solid $darkest;
$accordion-content-color: foreground($accordion-background, $primary-color);
$accordion-content-padding: 1rem;

// 8. Accordion Menu
// ------------------------------------------------------------

$accordionmenu-arrows: true;
$accordionmenu-arrow-color: $primary-color;
$accordionmenu-arrow-size: 6px;

// 9. Badge
// ------------------------------------------------------------

$badge-background: $primary-color;
$badge-color: $stable;
$badge-color-alt: $black;
$badge-palette: $foundation-palette;
$badge-padding: 0.3em;
$badge-minwidth: 2.1em;
$badge-font-size: 0.6rem;

// 10. Breadcrumbs
// ------------------------------------------------------------

$breadcrumbs-margin: 0 0 $global-margin 0;
$breadcrumbs-item-font-size: rem-calc(11);
$breadcrumbs-item-color: $primary-color;
$breadcrumbs-item-color-current: $white;
$breadcrumbs-item-color-disabled: $medium-gray;
$breadcrumbs-item-margin: 0.75rem;
$breadcrumbs-item-uppercase: true;
$breadcrumbs-item-slash: true;

// 11. Button
// ------------------------------------------------------------

$button-padding: 0.85em 1.5em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: $energized;
$button-background-hover: scale-color($button-background, $lightness: 10%);
$button-color: $stable;
$button-color-alt: $darkest;
$button-radius: $global-radius;
$button-sizes: (
        tiny: 0.6rem,
        small: 0.75rem,
        default: 1rem,
        large: 1.25rem,
);
$button-palette: $foundation-palette;
$button-opacity-disabled: 0.25;
$button-background-hover-lightness: 5%;
$button-hollow-hover-lightness: 5%;
$button-transition: all 0.25s ease-out;

// 12. Button Group
// ------------------------------------------------------------

$buttongroup-margin: 1rem;
$buttongroup-spacing: $module-spacing;
$buttongroup-child-selector: '.button';
$buttongroup-expand-max: 6;
$buttongroup-radius-on-each: true;

// 13. Callout
// ------------------------------------------------------------

$callout-background: $darker;
$callout-background-fade: 0%;
$callout-border: 0 solid rgba($black, 0.25);
$callout-margin: 0 0 1rem 0;
$callout-padding: 1.5rem;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;
$callout-radius: $global-radius;
$callout-link-tint: 30%;

// 14. Card
// ------------------------------------------------------------

$card-background: $darker;
$card-font-color: $stable;
$card-divider-background: transparent;
$card-border: 0 solid $darkest;
$card-shadow: none;
$card-border-radius: $global-radius;
$card-padding: $global-padding;
$card-margin: $module-spacing;

// 15. Close Button
// ------------------------------------------------------------

$closebutton-position: right top;
$closebutton-offset-horizontal: (
        small: 0.66rem,
        medium: 1rem,
);
$closebutton-offset-vertical: (
        small: 0.33em,
        medium: 0.5rem,
);
$closebutton-size: (
        small: 1.5em,
        medium: 2em,
);
$closebutton-lineheight: 1;
$closebutton-color: $light-gray;
$closebutton-color-hover: $stable;

// 16. Drilldown
// ------------------------------------------------------------

$drilldown-transition: transform 0.15s linear;
$drilldown-arrows: true;
$drilldown-arrow-color: $primary-color;
$drilldown-arrow-size: 6px;
$drilldown-background: $stable;

// 17. Dropdown
// ------------------------------------------------------------

$dropdown-padding: 1rem;
$dropdown-background: $body-background;
$dropdown-border: 0 solid $medium-gray;
$dropdown-font-size: 1rem;
$dropdown-width: 300px;
$dropdown-radius: $global-radius;
$dropdown-sizes: (
        tiny: 100px,
        small: 200px,
        large: 400px,
);

// 18. Dropdown Menu
// ------------------------------------------------------------

$dropdownmenu-arrow-color: $anchor-color;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: $darkest;
$dropdownmenu-border: 0 solid $medium-gray;

// 19. Forms
// ------------------------------------------------------------

$fieldset-border: 1px solid $darkest;
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(18 0);
$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(25);
$helptext-color: $stable;
$helptext-font-size: rem-calc(13);
$helptext-font-style: italic;
$input-prefix-color: $stable;
$input-prefix-background: $darker;
$input-prefix-border: 0;
$input-prefix-padding: 1rem;
$form-label-color: $light-gray;
$form-label-font-size: rem-calc(14);
$form-label-font-weight: $global-weight-normal;
$form-label-line-height: 1.8;
$select-background: $darker;
$select-triangle-color: $medium-gray;
$select-radius: $global-radius;
$input-color: $stable;
$input-placeholder-color: $light-gray;
$input-font-family: inherit;
$input-font-size: rem-calc(16);
$input-font-weight: $global-weight-normal;
$input-background: $darker;
$input-background-focus: $darker;
$input-background-disabled: $darker;
$input-border: 0 solid $darker;
$input-border-focus: 0 solid $darker;
$input-shadow: inset 0 0 0 rgba($black, 0.1);
$input-shadow-focus: 0 0 0 $medium-gray;
$input-cursor-disabled: default;
$input-transition: all 0.25s ease-in-out;
$input-number-spinners: false;
$input-radius: $global-radius;
$form-button-radius: $global-radius;

// 20. Label
// ------------------------------------------------------------

$label-background: $primary-color;
$label-color: $stable;
$label-color-alt: $darkest;
$label-palette: $foundation-palette;
$label-font-size: 0.8rem;
$label-padding: 0.33333rem 0.5rem;
$label-radius: $global-radius;

// 21. Media Object
// ------------------------------------------------------------
$mediaobject-margin-bottom: 15px;
$mediaobject-section-padding: 10px;
$mediaobject-image-width-stacked: 100%;

// 22. Menu
// ------------------------------------------------------------

$menu-margin: 0;
$menu-margin-nested: 1rem;
$menu-item-padding: 0.7rem 1rem;
$menu-item-color-active: $white;
$menu-item-background-active: map-get($foundation-palette, primary);
$menu-icon-spacing: 0.25rem;
$menu-item-background-hover: $light-gray;
$menu-border: $light-gray;

// 23. Meter
// ------------------------------------------------------------

$meter-height: 5px;
$meter-radius: $global-radius;
$meter-background: $black;
$meter-fill-good: $success-color;
$meter-fill-medium: $warning-color;
$meter-fill-bad: $alert-color;

// 24. Off-canvas
// ------------------------------------------------------------

$offcanvas-size: 185px;
$offcanvas-vertical-size: 100%;
$offcanvas-background: $darkest;
$offcanvas-shadow: 0 0 0 rgba($black, 0);
$offcanvas-push-zindex: 1;
$offcanvas-overlap-zindex: 10;
$offcanvas-reveal-zindex: 1;
$offcanvas-transition-length: 0.5s;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: true;
$offcanvas-exit-background: rgba($black, 1);
$maincontent-class: 'off-canvas-content';

// 25. Orbit
// ------------------------------------------------------------

$orbit-bullet-background: $medium-gray;
$orbit-bullet-background-active: $dark-gray;
$orbit-bullet-diameter: 1.2rem;
$orbit-bullet-margin: 0.1rem;
$orbit-bullet-margin-top: 0.8rem;
$orbit-bullet-margin-bottom: 0.8rem;
$orbit-caption-background: rgba($black, 0.5);
$orbit-caption-padding: 1rem;
$orbit-control-background-hover: rgba($black, 0.5);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

// 26. Pagination
// ------------------------------------------------------------

$pagination-font-size: rem-calc(13);
$pagination-margin-bottom: rem-calc(15);
$pagination-item-color: $stable;
$pagination-item-padding: rem-calc(3 10);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: transparent;
$pagination-item-background-current: transparent;
$pagination-item-color-current: $balanced;
$pagination-item-color-disabled: $dark-lighter;
$pagination-ellipsis-color: $stable;
$pagination-mobile-items: false;
$pagination-mobile-current-item: false;
$pagination-arrows: true;

// 27. Progress Bar
// ------------------------------------------------------------

$progress-height: 7px;
$progress-background: $dark;
$progress-margin-bottom: 4px;
$progress-meter-background: transparent;
$progress-radius: $global-radius;

// 28. Responsive Embed
// ------------------------------------------------------------

$responsive-embed-margin-bottom: rem-calc(16);
$responsive-embed-ratios: (
        default: 4 by 3,
        widescreen: 16 by 9,
);

// 29. Reveal
// ------------------------------------------------------------

$reveal-background: $black;
$reveal-width: 600px;
$reveal-max-width: $global-width;
$reveal-padding: $global-padding;
$reveal-border: 1px solid $black;
$reveal-radius: 4px;
$reveal-zindex: 1040;
$reveal-overlay-background: rgba($darkest, 0.25);
$reveal-shadow: 0 2px 5px rgba($black, 0.5);

// 30. Slider
// ------------------------------------------------------------

$slider-width-vertical: 0.5rem;
$slider-transition: all 0.2s ease-in-out;
$slider-height: 0.5rem;
$slider-background: $light-gray;
$slider-fill-background: $medium-gray;
$slider-handle-height: 1.4rem;
$slider-handle-width: 1.4rem;
$slider-handle-background: $primary-color;
$slider-opacity-disabled: 0.25;
$slider-radius: $global-radius;

// 31. Switch
// ------------------------------------------------------------

$switch-background: $dark-gray;
$switch-background-active: $energized;
$switch-height: 2rem;
$switch-height-tiny: 1.5rem;
$switch-height-small: 1.75rem;
$switch-height-large: 2.5rem;
$switch-radius: 25px;
$switch-margin: 0;
$switch-paddle-background: $stable;
$switch-paddle-offset: 0.25rem;
$switch-paddle-radius: 25px;
$switch-paddle-transition: all 0.25s ease-out;

// 32. Table
// ------------------------------------------------------------

$table-background: $dark;
$table-color-scale: 5%;
$table-border: 1px solid smart-scale($table-background, $table-color-scale);
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);
$table-is-striped: true;
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe: even;
$table-head-background: smart-scale($table-background, $table-color-scale / 2);
$table-head-row-hover: darken($table-head-background, $table-hover-scale);
$table-foot-background: smart-scale($table-background, $table-color-scale);
$table-foot-row-hover: darken($table-foot-background, $table-hover-scale);
$table-head-font-color: $body-font-color;
$table-foot-font-color: $body-font-color;
$show-header-for-stacked: false;

// 33. Tabs
// ------------------------------------------------------------

$tab-margin: 0;
$tab-background: transparent;
$tab-color: $dark-gray;
$tab-background-active: $darkest;
$tab-active-color: $stable;
$tab-item-font-size: rem-calc(14);
$tab-item-background-hover: $darkest;
$tab-item-padding: 0.9rem;
$tab-expand-max: 12;
$tab-content-background: transparent;
$tab-content-border: 0;
$tab-content-color: foreground($tab-background, $primary-color);
$tab-content-padding: 0;

// 34. Thumbnail
// ------------------------------------------------------------

$thumbnail-border: 0;
$thumbnail-margin-bottom: 0;
$thumbnail-shadow: 0 0 0 0 rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 0 0 rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 35. Title Bar
// ------------------------------------------------------------

$titlebar-background: $black;
$titlebar-color: $stable;
$titlebar-padding: 0.5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $stable;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: 0.25rem;

// 36. Tooltip
// ------------------------------------------------------------

$has-tip-font-weight: $global-weight-normal;
$has-tip-border-bottom: 0;
$tooltip-background-color: $energized;
$tooltip-color: $darkest;
$tooltip-padding: 0.75rem;
$tooltip-font-size: inherit;
$tooltip-pip-width: 0;
$tooltip-pip-height: $tooltip-pip-width * 0.866;
$tooltip-radius: inherit;

// 37. Top Bar
// ------------------------------------------------------------

$topbar-padding: 0.5rem;
$topbar-background: $light-gray;
$topbar-submenu-background: $topbar-background;
$topbar-title-spacing: 1rem;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;

// 38. Drop Shadows
// ------------------------------------------------------------
$drop-shadow-color: rgba($black, 0.5);
$drop-shadow-smallest: 0 1px 2px $drop-shadow-color;
$drop-shadow-small: 0 3px 6px $drop-shadow-color;
$drop-shadow-medium: 0 6px 12px $drop-shadow-color;
$drop-shadow-large: 0 12px 24px $drop-shadow-color;
