// Responsive Tables
// ------------------------------------------------------------
.volunteer-table-header {
  .header-title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    background-color: $darker;
    color: $energized;
    padding: 10px 15px;
    margin-bottom: $module-spacing;
    span {
      display: inline-block;
      opacity: 0.5;
    }
  }
}
.volunteer-table-row {
  position: relative;
  padding: 0;
  font-weight: 500;
  text-align: left;
  margin-bottom: $module-spacing;
  @include breakpoint(medium down) {
    display: block;
  }
  &:nth-child(odd) {
    .table-cell {
      background-color: $dark-light !important;
    }
  }
  &:nth-child(even) {
    .table-cell {
      background-color: $dark !important;
    }
  }
  .table-cell,
  .tracking {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-transform: capitalize;
    min-height: 70px;
    overflow: hidden;
    @include breakpoint(medium down) {
      display: block;
      border-top: 1px solid $darker;
      min-height: auto;
    }
    &.info {
      display: flex !important;
      align-items: center !important;
    }
    .volunteer-checkbox-radio {
      margin-bottom: 6px;
      @include breakpoint(medium down) {
        float: right;
        margin-top: 12px;
      }
    }
  }
  .volunteer-tags {
    opacity: 0.8;
  }
  .table-image {
    display: inline-block;
    margin-right: 10px;
  }
  .table-info {
    display: inline-block;
  }
  h5 {
    margin: 0;
  }
  .cell-heading {
    display: none;
    font-size: 0.875rem;
    font-weight: normal;
    text-transform: uppercase;
    color: rgba($stable, 0.5);
    margin-right: 5px;
    @include breakpoint(medium down) {
      display: inline-block;
      float: left;
      font-size: 1rem;
    }
    &:after {
      content: ":";
    }
  }
  input {
    margin-bottom: 0;
  }
  .card-background {
    z-index: 1;
  }
  .media-object {
    margin: 0;
  }
  .adventure-status {
    &.reportable {
      background-color: $energized !important;
      color: $dark;
    }
    &.pending {
      background-color: $secondary-color !important;
    }
    &.archived {
      background-color: $alert-color !important;
    }
  }
  .tracking, .volunteer-hours, .attended {
    width: 100%;
    color: $stable;
    text-align: center !important;
    text-transform: uppercase;
    &.enabled {
      background-color: rgba($calm, 0.4) !important;
      text-align: center;
      @include breakpoint(medium down) {
        text-align: center;
      }
    }
    &.disabled {
      background-color: rgba($darker, 1);
    }
    .text-center {
      display: inline-block;
      margin: 0 auto;
      @include breakpoint(medium down) {
        margin-left: -125px !important;
      }
    }
  }
  .switch-wrapper {
    @include breakpoint(medium down) {
      justify-content: left;
      .switch {
        display: inline-block !important;
        float: right !important;
      }
    }
  }
  .email-one-btn {
    border: 0 !important;
    color: $stable !important;
    font-size: 2rem !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0.7;
    &:focus,
    &:hover {
      border: 0 !important;
      opacity: 1;
    }
  }
}
