// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-tags-form,
.filter-search-form {
  input {
    margin: 0;
  }
}
.selectize-control.single .selectize-input.input-active,
.selectize-input {
  position: relative;
  background-color: transparent !important;
  color: $stable !important;
  padding: 12px 15px !important;
  min-height: 55px;
  margin-bottom: -2px !important;
  border: 2px dashed $dark-lighter !important;
  border-radius: 8px !important;
  .item {
    color: $darkest !important;
    margin: 2px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    border-radius: 2px !important;
    &:nth-child(1n) {
      background-color: $medium-gray !important;
    }
    &:nth-child(2n) {
      background-color: $dark-gray !important;
    }
    .remove {
      border: 0 !important;
    }
  }
  input {
    height: 20px !important;
    color: $dark-gray;
    margin-top: 3px !important;
    &:focus,
    &:hover {
      @include placeholder {
        color: $stable !important;
        opacity: 1 !important;
      }
    }
  }
}
.settings-panel-textarea,
.volunteer-search {
  position: relative;
  width: 100%;
  min-height: 55px !important;
  font-size: 0.875rem !important;
  padding: 15px !important;
  margin-bottom: 5px !important;
  border: 0 solid $dark-lighter !important;
  border-radius: 8px !important;
  background-color: rgba($darker, 1);
  &:focus,
  &:hover {
    background-color: rgba($darker, 1);
    border: 0 solid $dark-lighter;
    @include placeholder {
      color: $stable;
      opacity: 1;
    }
  }
}
.tag-item {
  position: relative;
  display: inline-block;
  color: $darkest !important;
  font-size: 13px;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  padding: 2px 6px;
  margin: 2px 0 !important;
  border-radius: 2px !important;
  a {
    color: $darkest !important;
    &:hover {
      color: $darkest !important;
    }
  }
  &:nth-child(1n) {
    background-color: $medium-gray !important;
  }
  &:nth-child(2n) {
    background-color: $dark-gray !important;
  }
  .remove {
    border: 0 !important;
  }
}
