// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c3 {
  $axis-color: $dark-lighter;
  $label-color: $dark-gray;
  $border-color: $darkest;
  // Tooltips
  .c3-tooltip {
    box-shadow: $drop-shadow-small;
    $c3-tooltip-border: 3px solid $light-gray;
    $c3-tooltip-background: $light-gray;
    $c3-tooltip-color: $darkest;
    th {
      //display: none;
      padding: 8px 10px !important;
    }
    tr {
      background-color: transparent;
      border: $c3-tooltip-border;
    }
    td {
      font-size: 0.875rem;
      line-height: 1em;
      text-align: left;
      text-transform: capitalize;
      white-space: nowrap !important;
      background-color: $c3-tooltip-background;
      padding: 8px 10px !important;
      border: $c3-tooltip-border;
      color: $c3-tooltip-color;
    }
    .value {
      font-weight: bold;
    }
  }
  // Legends
  .c3-legend-item {
    font-size: 0.75rem;
    fill: $label-color !important;
  }
  .c3-axis-x,
  .c3-axis-y {
    stroke: $axis-color;
    fill: $axis-color;
    stroke-width: 0;
  }
  .c3-axis-y {
    margin-left: -20px !important;
  }
  .c3-legend-item-tile {
    font-size: 0.75rem;
    stroke-width: 3px !important;
    stroke-linecap: round;
    shape-rendering: auto;
  }
  // Line/Area Charts
  .c3-line {
    stroke-width: 3px;
  }
  .c3-circle {
    width: 5px;
  }
  // Bar Charts
  .c3-bar {
    stroke: $border-color !important;
    stroke-width: 4 !important;
    width: 15 !important;
  }
  // Pie/Donut charts
  .c3-chart-arc {
    path {
      stroke: $border-color;
      stroke-width: 4;
    }
  }
}
#chart-1 {
  .c3-axis-x {
    display: none;
  }
}
