// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fold {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $darkest;
  text-align: center;
  padding: 30px 0;
  overflow: hidden;
  p {
    color: $stable;
  }
}
.fold-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}
.background-login {
  background-image: image-url("backgrounds/work1.jpg") !important;
  background-position: center center;
  @include breakpoint(small down) {
    background-position: left center;
  }
}
.background-submit-hours {
  background-position: center center;
  @include breakpoint(small down) {
    background-position: center center;
  }
}
.fold-content {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 2;
}
.fold-submit-hours {
  .fold-content {
    padding: 0 20px;
    text-align: center;
  }
}
.homepage-logo {
  width: 100%;
  max-width: 450px;
  padding: 0 0 30px;
}
.fold-heading {
  color: $energized;
  font-size: 1.8rem;
  line-height: 1em;
  padding: 0 50px;
  margin: -40px 0 20px;
  text-transform: uppercase;
}
.submit-hours-adventure-info {
  position: relative;
  max-width: 400px;
  background-color: rgba($black, 0.8);
  padding: 30px 40px 20px;
  margin: 0 auto 8px;
  border: $reveal-border;
  border-radius: $card-radius;
  box-shadow: $reveal-shadow;
  @include breakpoint(small down) {
    padding: 30px 30px 20px;
  }
  .media-object {
    margin-bottom: 20px;
  }
  .user-avatar {
    &.xs {
      margin: 0 -5px;
    }
  }
  .adventure-name,
  .adventure-type,
  .adventurers,
  .duration,
  .hosted,
  .location {
    display: block;
    margin: 0 0 10px;
    text-align: left;
    line-height: 1em;
    text-transform: capitalize;
  }
  .hosted {
    margin: 0;
    a {
      color: $energized;
      font-weight: bold;
      &:hover {
        color: inherit;
      }
    }
  }
  .adventure-name {
    font-size: 1.6rem;
    @include breakpoint(small down) {
      font-size: 1.2rem !important;
    }
  }
  .adventure-type,
  .adventurers,
  .hosted,
  .location {
    font-size: 0.875rem;
  }
  .adventurers {
    color: $dark-gray;
  }
  .duration {
    color: $balanced;
    font-size: 1.2rem;
    text-align: center;
    padding: 25px 0 0;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 3px dashed $dark-lighter;
    text-transform: uppercase;
  }
  a {
    color: $dark-gray;
  }
  i {
    opacity: 0.5;
  }
}
.submit-hours-form {
  padding: 0;
  margin: 20px auto 0;
  max-width: 270px;
  @include breakpoint(small down) {
    max-width: 100%;
  }
  input[type="number"],
  input[type="number"]:focus,
  input[type="number"]:hover {
    color: $white;
    background-color: rgba($white, 0.1);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid $stable;
    margin-bottom: 0;
  }
  @include placeholder {
    color: $stable !important;
    font-size: 1rem;
    font-weight: normal;
  }
  .submit-hours-btn {
    padding: rem-calc(17);
  }
}
