@media print {
  .reveal,
  .show-report-sidebar,
  .sidebar,
  aside,
  footer,
  header,
  nav {
    display: none;
  }
  .show-report-banner {
    border-top: 0;
    .user-avatar {
      border: 0;
    }
  }
  .show-description-btn {
    display: none;
  }
  .show-report-canvas {
    border: 0;
    padding: 0;
    margin: 0;
  }
  .show-report-description-panel {
    margin-bottom: -20px;
  }
  .show-report-stats-container {
    border-bottom: $hr-border;
    margin-top: 0;
    .sr-only {
      display: block !important;
      text-align: center;
      font-size: 0.75rem !important;
      margin-top: 5px;
    }
  }
}
