// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// REPORT EDIT
// ------------------------------------------------------------
.create-report-container {
  padding: 0 0 0 12px;
  margin-bottom: 50px;
  @include breakpoint(medium down) {
    padding: 0;
  }
  .is-at-top,
  .is-stuck,
  .sticky {
    z-index: 3 !important;
  }
}
// Canvas
// ------------------------------------------------------------
.create-report-canvas {
  display: block;
  width: 100%;
  background-color: rgba($black, 0.2);
  border: 1px solid rgba($black, 0.2);
  color: $dark-light;
  padding: 20px 30px 30px;
  margin-bottom: 20px;
  border-radius: 0;
  overflow: hidden;
  cursor: default;
  text-align: center;
  &:focus,
  &:hover {
    color: $dark-gray;
  }
  .placeholder-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    color: inherit;
    text-align: center;
    border-radius: $card-radius;
    border: 3px dashed $dark-light;
    &:focus,
    &:hover {
      border: 3px dashed $dark-gray;
    }
  }
  // When the canvas contains items
  &.filled {
    display: block;
    min-height: 400px;
    background-color: rgba($black, 0.2);
    border: 1px solid rgba($black, 0.2);
    .placeholder-heading {
      display: none;
    }
  }
}
// Report Main CTA Buttons
// ------------------------------------------------------------
.create-cta-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - #{$offcanvas-size});
  background-color: $darkest;
  padding: $module-spacing 0;
  z-index: 1009;
  @include breakpoint(medium down) {
    width: 100%;
  }
  .button-group {
    margin: 0;
  }
  .button {
    opacity: 0.7;
    margin-bottom: 0;
    &:hover {
      opacity: 1;
    }
    @include breakpoint(small down){
      font-size: 0.75rem;
    }
  }
}
// Sidebar with Add Canvas Item Buttons
// ------------------------------------------------------------
.create-report-sidebar {
  position: relative;
  padding: 0;
  margin: 0;
}
.report-add-item-container {
  width: 100%;
  max-height: 750px;
  padding: 20px 30px;
  margin-bottom: 20px;
  background-color: $darkest;
  overflow-y: auto;
  text-align: center;
  @include breakpoint(medium down) {
    height: 160px;
    padding: 10px 10px 0;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: auto;
    box-shadow: $drop-shadow-small;
  }
  .button_to {
    @include breakpoint(medium down) {
      display: inline-block;
    }
  }
  .add-item-btn {
    position: relative;
    background-color: transparent !important;
    color: $dark-lighter;
    border: 3px dashed $dark-lighter;
    border-radius: 6px;
    overflow: hidden;
    padding: 10px 10px 25px;
    @include breakpoint(large up) {
      width: calc(50% - 10px);
      height: 125px;
      float: left;
      margin: 5px;
    }
    @include breakpoint(medium down) {
      width: 135px;
      height: 135px;
      margin: 0 5px;
    }
    &:focus,
    &:hover {
      background-color: inherit;
      color: $stable !important;
      border: 3px dashed $dark-gray;
    }
    .add-item-img {
      width: 100%;
      margin: 0 auto;
      @include breakpoint(medium down) {
        height: 75px;
      }
    }
    .add-item-name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25px;
      display: block;
      text-align: center;
      font-size: 0.875rem;
    }
    hr {
      border-color: $medium-gray;
      border-width: 2px;
      margin: 15px 0;
    }
  }
}
// Canvas Items
// ------------------------------------------------------------
.canvas-item {
  position: relative;
  width: 100%;
  min-height: 44px;
  overflow-y: auto !important;
  color: $stable;
  text-align: left;
  border-radius: $card-radius;
  border: 3px solid $dark-light;
  margin: 0;
  z-index: 1;
  &:focus,
  &:hover {
    border: 3px dashed $dark-gray;
    .item-actions {
      visibility: visible !important;
    }
  }
  &.report-info {
    background-color: transparent;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid $darker;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    &:focus,
    &:hover {
      border: 2px dashed $dark-lighter;
      background-color: $darker !important;
    }
    .preview-text {
      color: $medium-gray;
      white-space: pre-line !important;
    }
    textarea {
      min-height: 100px;
    }
    .card-info {
      background-color: transparent;
    }
  }
  input,
  select,
  textarea {
    background-color: $darkest;
    border: 2px solid $darkest;
    margin-bottom: 5px;
    &:focus,
    &:hover {
      background-color: $darkest;
      border: 2px dashed $dark-lighter;
    }
  }
  .img-upload-btn {
    margin-bottom: 5px;
  }
  .item-actions {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    height: 45px;
    background-color: $dark-light;
    padding: 5px 7px 0;
    border-radius: 0 0 0 $card-radius;
    z-index: 2;
    .card-report-cta {
      display: inline-block;
      float: right;
      color: $stable;
      font-size: 1.4rem;
      margin: 0 7px;
      opacity: 0.5;
      &:hover {
        color: inherit;
        opacity: 1;
      }
    }
    .handle {
      cursor: move !important;
      cursor: grab !important;
    }
    .edit-canvas-item {
      display: none;
    }
  }
  .preview-text {
    margin: 0;
    white-space: pre-line;
  }
  .help-text {
    margin-bottom: 10px;
  }
  .card-header {
    position: relative;
    padding: 15px 20px;
    z-index: 1;
  }
  .card-header-img {
    width: 100%;
    padding-top: 35%;
    overflow: hidden;
    .preview-img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
  .card-info {
    position: relative;
    display: none;
    background-color: $darker;
    overflow-y: auto;
    padding: 10px 20px 20px;
    z-index: 1040 !important;
    .close-button {
      position: absolute;
      top: auto;
      bottom: 0;
      right: calc(50% - 20px);
      background-color: $dark-light;
      color: $dark-gray;
      font-size: 0.75rem;
      text-transform: uppercase;
      padding: 5px 20px;
      border-radius: $card-radius $card-radius 0 0;
      opacity: 1;
      &:hover {
        color: $stable;
      }
    }
  }
  .item-chart {
    .c3 {
      $border-color: $darker;
      .c3-bar {
        stroke: $border-color !important;
      }
      // Pie/Donut charts
      .c3-chart-arc {
        path {
          stroke: $border-color;
        }
      }
    }
    margin: 10px 0 30px;
  }
  .item-heading {
    display: inline-block;
    h1,
    h2,
    h3,
    h4,
    p {
      margin: 0;
    }
  }
  hr {
    border-bottom: 2px dashed $dark-lighter;
    margin: 10px auto;
  }
}
.report-info-url {
  display: block;
  margin-bottom: 10px;
}
// Sortable jQuery UI Draggable Items
// ------------------------------------------------------------
.drag-container {
  list-style-type: none;
  text-align: center;
  padding: 10px 0;
}
.drag-item-12 {
  width: 100%;
  float: left;
  margin: $module-spacing 0;
}
.drag-item-6 {
  width: calc(50% - 8px);
  float: left;
  margin: $module-spacing;
  @include breakpoint(small down) {
    width: 100%;
    margin: $module-spacing 0;
  }
}
.drag-drop-placeholder {
  float: left;
  outline: 3px dashed $balanced !important;
  outline-offset: -6px;
  background-color: rgba($balanced, 0.1);
  max-width: 100%;
  min-height: 100px;
  margin: $module-spacing;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.ui-sortable-helper {
  transition: none !important;
  animation: pulse 0.4s alternate 2;
}
@keyframes pulse {
  100% {
    transform: scale(1.05);
  }
}
.cloned-slides {
  .slide {
    position: fixed;
    z-index: 1;
    &:before {
      content: attr(data-pos);
    }
  }
}
// REPORT SHOW
// ------------------------------------------------------------
.show-report-container {
  padding: 0 20px 20px;
  @include breakpoint(small down) {
    padding: 0;
  }
  .is-at-top,
  .is-stuck,
  .sticky {
    z-index: 3 !important;
  }
}
// Show Report Header
// ------------------------------------------------------------
.show-report-header {
  width: 100%;
  height: 60px;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  @include breakpoint(medium down) {
    height: 44px;
    padding: 0.5rem 0;
  }
  .header-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 135px;
    @include breakpoint(medium down) {
      width: 96px;
    }
  }
}
// Show Branding Banner
// ------------------------------------------------------------
.show-report-banner {
  margin-bottom: 0;
}
.show-report-description-panel {
  display: none;
  padding: 20px;
}
.show-report-title {
  color: $balanced;
  text-transform: uppercase;
}
.show-description-btn {
  color: $balanced;
  cursor: pointer;  
}
.show-report-description {
  font-size: 0.875rem;
  line-height: 1.4em;
  color: $dark-gray;
  margin: 10px 0;
}
.show-report-date {
  font-size: 0.875rem;
  text-transform: capitalize;
  color: $dark-lighter;
  margin-bottom: 5px;
  span {
    text-transform: uppercase;
  }
}
.show-report-published {
  font-size: 0.75rem;
  font-style: italic;
  color: $dark-lighter;
  margin-top: 15px;
  span {
    text-transform: uppercase;
  }
}
// Show Sidebar
// ------------------------------------------------------------
.show-report-sidebar {
  position: relative;
  height: auto !important;
  padding: 20px 0 30px 20px;
  @include breakpoint(medium down) {
    padding: 20px;
  }
  margin: 0;
  .button {
    margin: 0 0 20px;
  }
}
.show-widget-container {
  width: 100% !important;
  max-width: 100% !important;
  @include breakpoint(large up) {
    max-height: auto;
    overflow-y: auto;
  }
}
.show-widget-heading {
  margin-left: 10px;
  color: $dark-gray;
}
// Needed to keep sticky element from contracting
.show-widget-spacer {
  color: transparent;
  margin: 0;
  padding: 0;
  line-height: 0;
  height: 1px;
  overflow: hidden;
}
// Show Report Stats
// ------------------------------------------------------------
.show-report-stats-container {
  background-color: rgba($black, 0.2);
  padding: 15px 10px;
  margin: 15px 0;
  //border-top: 2px dashed $darker;
  //border-bottom: 2px dashed $darker;
  .columns {
    border-right: $hr-border;
    &:last-child {
      border-right: 0;
    }
  }
  .report-stats {
    text-align: center;
    font-size: 2.6rem;
    span {
      font-size: 1.6rem;
    }
  }
}
// Show Canvas
// ------------------------------------------------------------
.show-report-canvas {
  background-color: rgba($black, 0.2);
  border: 1px solid rgba($black, 0.2);
  padding: 0 30px 30px;
  @include breakpoint(medium down) {
    padding: 20px;
  }
  .show-report-img {
    position: relative;
    width: 100%;
    padding-top: 35%;
    margin: 10px 0;
    overflow: hidden;
    .preview-img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
  .show-report-heading {
    margin: 20px 0;
  }
  hr {
    border-bottom: 2px dashed $dark-lighter;
    margin: 10px auto;
  }
  .show-report-chart {
    padding: 20px 20px 30px;
    @include breakpoint(small down) {
      padding: 20px 0;
    }
    .item-chart {
      padding: 10px 30px;
    }
  }
  .show-report-paragraph {
    p {
      white-space: pre-line !important;
    }
    margin: 10px 0;
  }
}
.show-report-footer {
  font-size: 0.875rem;
  font-style: italic;
  color: $dark-lighter;
  padding: 20px 0;
  @include breakpoint(medium down) {
    padding: 20px;
  }
}
