(function() {
  <% if @email.errors.present? %>
  var html = '<%= j render "volunteers/email_form" %>';

  $('#email-form').html(html);
  <% else %>
//  TODO clean this up
  var container = $(BestInPlaceEditor.defaults.purrNoticeContainer);
  container.find('.notice-text').html('Email Sent!');
  container.purr({
    isSticky: true
  });
  setTimeout(function() {
    $('#purr-container').remove();
  }, 2000);

  $('#email_subject, #email_message').val('');
  $('#reveal-email-volunteer').foundation('close');
  <% end %>
})();
