<article class="card-wrapper" title="Create report">
  <div class="card card-add" data-equalizer-watch>
    <%= link_to new_report_path do %>
        <i class="ion-plus-round"></i>
    <% end %>
  </div>
</article>
