<%= render 'reports/reveal_share_report', report: report %>

<article class="card-wrapper">
  <div class="card card-report" data-equalizer-watch>
    <div class="card-preheader">
      <%= link_to report_path(report),
                  target: '_blank',
                  class:  'card-report-cta status-published',
                  title:  'This report is published. Click to View' do %>
          <i class="ion-checkmark-round"></i>
      <% end if report.published? %>
      <%= link_to edit_report_path(report),
                  class: 'card-report-cta blue',
                  title: 'Edit' do %>
          <i class="ion-compose"></i>
      <% end %>
      <% if report.published? %>
          <a class="card-report-cta" title="Share"
             data-open="reveal-share-report-<%= report.id %>">
            <i class="ion-android-share-alt"></i>
          </a>
      <% end %>
    </div>
    <div class="card-info">
      <h5 class="card-heading"><%= report.name %></h5>
      <p class="card-description"><%= report.description %></p>
    </div>
    <div class="card-footer">
      <div class="expanded row">
        <div class="small-4 columns">
          <h6 class="report-stats" title="Total volunteers">
            <i class="ion-ios-people"></i>
            <span class="sr-only">Volunteers</span>
            <span><%= report.volunteers %></span>
          </h6>
        </div>

        <div class="small-4 columns">
          <h6 class="report-stats" title="Total adventures">
            <i class="icon-adventures"></i>
            <span class="sr-only">Adventures</span>
            <span><%= report.adventures %></span>
          </h6>
        </div>

        <div class="small-4 columns">
          <h6 class="report-stats" title="Total hours">
            <i class="ion-android-time"></i>
            <span class="sr-only">Hours</span>
            <span><%= report.hours %></span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</article>
