<div class="reveal" id="reveal-share-report-<%= report.id %>" data-reveal
     data-animation-in="fade-in" data-animation-out="fade-out">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <% unless report.published? %>
      <div class="share-notification-banner">
        <p>You need to publish this report in order to share the link.</p>
      </div>
  <% end %>

  <ul class="tabs share-report-tabs" id="share-report-tabs-<%= report.id %>" data-tabs>
    <li class="tabs-title is-active" aria-selected="true">
      <a href="#share-social-media-<%= report.id %>">Share</a>
    </li>
    <li class="tabs-title">
      <a href="#share-embed-<%= report.id %>">Embed</a>
    </li>
    <!--TODO this-->
    <!--<li class="tabs-title">-->
    <!--<a href="#share-email-<%= report.id %>">Email</a>-->
    <!--</li>-->
  </ul>

  <div class="tabs-content" data-tabs-content="share-report-tabs-<%= report.id %>">

    <div class="tabs-panel is-active" id="share-social-media-<%= report.id %>">
      <div class="input-group">
        <input class="string required share-report-url"
               value="<%= url_for(controller: :reports, action: :show,
                                  id:         report.slug, only_path: false) %>"
               name="report[link]"
               id="report_link-<%= report.id %>" type="text">
        <div class="input-group-button">
          <button class="button secondary copy-button" data-clipboard-action="copy" data-clipboard-target="#report_link-<%= report.id %>">Copy</button>
        </div>
      </div>
      <p class="help-text">Copy this link onto your clipboard.</p>

      <div class="social-share-container md">
        <%= social_share_button_tag(report.name, url: url_for(controller: :reports, action: :show,
                                                              id:         report.slug,
                                                              only_path:  false)) %>
      </div>
      <p class="help-text">Share with social media.</p>
    </div>

    <div class="tabs-panel" id="share-embed-<%= report.id %>">
      <div class="input-group">
        <input class="string required share-report-embed" value="
&lt;iframe width=&quot;560&quot; height=&quot;346&quot; src=&quot;<%= url_for(controller: :reports, action: :show, id: report.slug, only_path: false) %>&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
               name="report[iframe]" id="report_embed-<%= report.id %>"
               type="text" title="Embed code">
        <div class="input-group-button">
          <button class="button secondary copy-button" data-clipboard-action="copy" data-clipboard-target="#report_embed-<%= report.id %>">Copy</button>
        </div>
      </div>
      <p class="help-text">Embed this report code on your website.</p>
    </div>

    <div class="tabs-panel" id="share-email-<%= report.id %>">
      <form>
        <div class="input-group">
          <input class="string email required" placeholder="To" name="user[email]" id="user_email" type="email">
        </div>

        <div class="input-group">
          <input class="string required" placeholder="Subject" name="email[subject]" id="email_subject" type="text">
        </div>

        <div class="input-group">
          <textarea class="text required" placeholder="Optional message..." name="email[message]" id="email_message"></textarea>
        </div>

        <input name="commit" value="Send" class="button sm expanded energized" data-disable-with="Send" type="submit">
      </form>
    </div>
  </div>
</div>
