<header class="top-bar show-report-header">

    <div class="cta-container">
      <button class="button settings-toggle" title="Share this report"
              data-open="reveal-share-report-<%= @report.id %>">
        <i class="ion-android-share-alt"></i></button>
      <!-- Print Report -->
      <button class="button settings-toggle print-report" title="Print this report">
        <i class="ion-android-print"></i></button>
        <script>
          $('.print-report').click(function() {
            window.print();
          });
        </script>
    </div>

    <div class="header-logo">
      <%= link_to :root do %>
          <%= image_tag 'logos/yazda_full_horizontal.svg', class: 'header-logo' %>
      <% end %>
    </div>

  <% unless @report.published? %>
      <div class="volunteer-error" data-closable>
        This report has not been published yet. Publish it to make it available
        for other people to view.
        <button class="close-button" data-close aria-label="Close error" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <% end %>

</header>
