<%= render 'reports/reveal_share_report', report: @report %>

<%= simple_form_for @report do |f| %>
<div id="report-filter-panel" class="filter-search-panel report-filter-panel" data-toggler data-animate="fade-in fade-out" data-closable>
  <a class="close-button" title="Close panel" data-close>&times;</a>

  <%= link_to report_url(@report), @report,
                  target: '_blank',
                  class: 'report-info-url' %>

  <div class="expanded row">
    <div class="small-12 columns">
      <%= f.input :name,
                  placeholder: 'Report Name',
                  hint:        'Enter a report name.',
                  label:       false,
                  required:    false %>
    </div>
    <div class="small-12 columns">
      <%= f.input :description,
                  placeholder: 'Description',
                  hint:        'Enter a brief description.',
                  rows:        '4',
                  label:       false,
                  required:    false %>
    </div>
  </div>

  <div class="expanded row">
    <div class="small-12 large-4 columns">
      <h5 class="filter-heading single-line-text">Date</h5>
      <div class="expanded row">
        <div class="small-6 columns">
          <%= f.input :start_date, as: :date_picker,
                      label:           false,
                      required:        false,
                      hint:            'Start date.',
                      placeholder:     'Start Date',
                      hint:            'Enter start date.' %>
        </div>
        <div class="small-6 columns">
          <%= f.input :end_date, as: :date_picker,
                      label:         false,
                      hint:          'End date.',
                      placeholder:   'End Date',
                      hint:          'Enter end date.' %>
        </div>
      </div>
    </div>

    <div class="small-12 large-5 columns filter-tag-wrapper">
      <h5 class="filter-heading single-line-text">Filter by tag</h5>
      <%= f.input :tags_list,
                  label:      false,
                  as:         :string,
                  input_html: {
                      class:              'dynamic-selectize-control selectized',
                      'aria-describedby': 'tag-help-text',
                      placeholder:        "Type to add tag...",
                      data:               {
                          context: ''
                      }
                  } %>
      <p class="help-text" id="tag-help-text">Type to add tags and press
        enter. Backspace to delete.</p>
    </div>

    <div class="small-12 large-3 columns">
      <h5 class="filter-heading single-line-text">Colors</h5>
      <div class="expanded row">
        <div class="small-6 columns">
          <%= f.input :primary_color,
                      label:      false,
                      input_html: {
                          class: "volunteer-search jscolor {borderColor:'#000000', backgroundColor:'#303030'}"
                      } %>
        </div>
        <div class="small-6 columns">
          <%= f.input :secondary_color,
                      label:      false,
                      input_html: {
                          class: "volunteer-search jscolor {borderColor:'#000000', backgroundColor:'#303030'}"
                      } %>
        </div>
      </div>
      <p class="help-text" id="tag-help-text">Select colors for all
        charts.</p>
    </div>
  </div>
</div>

<!-- BEGIN FORM CTA BUTTONS -->
<div class="expanded row create-cta-container">
  <div class="expanded button-group">
    <%= f.submit 'Save',
                 class: 'button energized save-report-btn',
                 title: 'Save latest changes' %>
    <%= link_to 'Preview', @report,
                class:  'button secondary',
                title:  'Preview latest changes',
                target: '_blank' %>

    <%= f.submit 'Publish',
                 class: 'button primary',
                 title: 'Publish report (link will be visible)' if @report.draft? %>
    <%= f.submit 'Draft',
                 class: 'button warning',
                 title: 'Revert report back to draft (link will not be visible)' if @report.published? %>
    <%= link_to 'Archive', @report, method: :delete,
                class:                      'button alert report-delete-btn' %>
  </div>
</div>
<!-- END CTA BUTTONS -->
<% end %>


<div class="container create-report-container">
  <div class="expanded row">
    <div class="small-12 large-3 large-push-9 columns sidebar create-report-sidebar" data-sticky-container>
      <div class="expanded row report-add-item-container sticky" data-sticky data-margin-top="0" data-top-anchor="60">
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :donut_chart
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <%= image_tag 'reports/donut-chart.jpg', class: 'add-item-img' %>
            <span class="add-item-name">Donut</span>
        <% end %>
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :pie_chart
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <%= image_tag 'reports/pie-chart.jpg', class: 'add-item-img' %>
            <span class="add-item-name">Pie</span>
        <% end %>
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :bar_chart
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <%= image_tag 'reports/bar-chart.jpg', class: 'add-item-img' %>
            <span class="add-item-name">Bar</span>
        <% end %>
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :line_chart
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <%= image_tag 'reports/line-chart.png', class: 'add-item-img' %>
            <span class="add-item-name">Line</span>
        <% end %>
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :area_chart
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <%= image_tag 'reports/area-chart.png', class: 'add-item-img' %>
            <span class="add-item-name">Area</span>
        <% end %>
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :scatter_chart
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <%= image_tag 'reports/scatter-chart.jpg', class:
                'add-item-img' %>
            <span class="add-item-name">Scatter</span>
        <% end %>
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :heading
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <%= image_tag 'reports/heading.jpg', class: 'add-item-img' %>
            <span class="add-item-name">Header</span>
        <% end %>
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :text
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <%= image_tag 'reports/paragraph.jpg', class: 'add-item-img' %>
            <span class="add-item-name">Paragraph</span>
        <% end %>
        <%= button_to report_report_items_path(@report),
                      params: {
                          report_item: {
                              item_type: :hr
                          }
                      },
                      remote: true,
                      method: :post,
                      class:  'button add-item-btn',
                      title:  'Click to add' do %>
            <hr/>
            <span class="add-item-name">Divider</span>
        <% end %>
        <!--TODO images:-->
        <!--<button class="button add-item-btn" title="Click to add">-->
        <!--<%= image_tag 'reports/image.png', class: 'add-item-img' %>-->
        <!--<span class="add-item-name">Image</span>-->
        <!--</button>-->
      </div>
    </div>

    <div class="small-12 large-9 large-pull-3 columns">
      <% if @report.report_items.count == 0 %>
          <!-- BEGIN PLACEHOLDER FOR EMPTY CANVAS -->
          <div class="expanded row create-report-canvas">
            <h3 class="placeholder-heading">Add items to create your
              report</h3>
          </div>
          <!-- END PLACEHOLDER FOR EMPTY CANVAS -->
      <% else %>
          <!-- BEGIN FILLED CANVAS -->
          <div class="expanded row create-report-canvas filled">

            <!-- BEGIN DRAGGABLE CONTENT -->
            <ul class="menu vertical drag-container">
              <%= render @report.report_items %>
            </ul>
            <!-- END DRAGGABLE CONTENT -->
          </div>
          <!-- END FILLED CANVAS -->
      <% end %>
    </div>
  </div>
</div>
