<div class="container">
  <div class="expanded row">
    <div class="small-12 large-8 columns">
      <div class="expanded row card-container" data-equalizer data-equalize-on="medium">
        <%= render @reports %>
        <%= render 'reports/card_add_report' %>
      </div>
    </div>
    <div class="small-12 large-4 columns"></div>
  </div>
</div>
