<%= simple_form_for @report, id: "report-info-form" do |f| %>
    <h4 class="reveal-heading">Create Report
      <span class="help-text">Enter basic report info here. You can update info at any time.</span>
    </h4>
    <div class="expanded row">
      <div class="small-12 columns">
        <%= f.input :name, hint: 'Enter a report name.' %>
      </div>
      <div class="small-6 medium-12 columns">
        <%= f.input :start_date, as: :date_picker, placeholder: 'Start Date',
                    hint:            'Enter start date.' %>
      </div>
      <div class="small-6 medium-12 columns">
        <%= f.input :end_date, as: :date_picker, placeholder: 'End Date (optional)',
                    hint:          'Enter end date.' %>
      </div>
      <div class="input-group">
        <span class="input-group-label" for="">https://volunteers.yazdaapp
          .com/reports/</span>
        <%= f.input_field :url, class: 'input-group-field' %>
        <%= f.full_error :url %>
      </div>
      <span class="help-text">Enter URL/Slug where you want users to view report.</span>
      <%= f.input :description, hint: 'Enter a brief description' %>
    </div>

    <div class="expanded row">
      <div class="small-12 columns">
        <%= f.submit 'Save', class: 'button expanded sm energized' %>
      </div>
    </div>
<% end %>
