<%= render 'reports/reveal_share_report', report: @report %>
<%= render 'reports/show-report-header' %>

<div class="container show-report-container">

  <div class="expanded row banner-show show-report-banner">
    <div class="show-adventure-background"
         style="background-image: url(<%= @report.club.banner_image_url %>);"></div>
    <div class="media-object stack-for-small show-content">
      <div class="media-object-section middle">
        <div class="user-avatar profile">
          <%= yazda_image_tag @report.club.profile_image_url %>
        </div>
      </div>
      <div class="media-object-section middle">
        <h3 class="show-report-title"><%= @report.name %></h3>
        <h5 class="show-report-club-name">
          Published by
          <a target="_blank" title="View On Yazda" href="https://yazdaapp.com/clubs/<%= @report.club.yazda_club_id %>">
            <%= @report.club.name %>
          </a>
        </h5>
        <p>
          <button class="show-description-btn" data-toggle="show-report-description-panel">
            <i class="ion-chevron-down"></i>
            More...</button>
        </p>
      </div>
    </div>
  </div>

  <div class="expanded row">

    <div class="small-12 large-9 columns">

      <div id="show-report-description-panel" class="show-report-description-panel" data-toggler data-animate="fade-in fade-out">

        <div class="expanded row">

          <div class="small-12 large-9 columns">
            <p class="show-report-description">
              <%= @report.description %>
            </p>
            <div class="show-report-date">
              <i class="ion-android-time"></i>
              Start Date:
              <span><%= @report.start_date %></span>
            </div>
            <div class="show-report-date">
              <i class="ion-android-time"></i>
              End Date:
              <span><%= @report.end_date || Date.current %></span>
            </div>
          </div>
          <div class="small-12 large-3 columns">
          </div>
        </div>
      </div>

      <div class="expanded row show-report-stats-container">
        <div class="small-4 columns">
          <h6 class="report-stats" title="Total volunteers">
            <i class="ion-ios-people"></i>
            <span><%= @report.volunteers %></span>
            <span class="sr-only">Volunteers</span>
          </h6>
        </div>

        <div class="small-4 columns">
          <h6 class="report-stats" title="Total adventures">
            <i class="icon-adventures"></i>
            <span><%= @report.adventures %></span>
            <span class="sr-only">Adventures</span>
          </h6>
        </div>

        <div class="small-4 columns">
          <h6 class="report-stats" title="Total hours">
            <i class="ion-android-time"></i>
            <span><%= @report.hours %></span>
            <span class="sr-only">Hours</span>
          </h6>
        </div>
      </div>

      <div class="expanded row show-report-canvas">
        <% @report.report_items.each do |report_item| %>
            <% html_class = case report_item.item_type.to_sym
                            when :donut_chart, :pie_chart, :bar_chart, :line_chart,
                                :area_chart, :scatter_chart
                              'show-report-chart'
                            when :heading
                              'show-report-heading'
                            when :text
                              'show-report-paragraph'
                            end
            %>

            <div class="small-12 medium-<%= report_item.width %> columns
<%= html_class %>">
              <%= render 'report_items/report_header', report_item: report_item %>
            </div>
        <% end %>
      </div>

      <!--<div class="show-report-footer">-->
      <!--Copyright &copy;-->
      <!--<script type="text/javascript">-->
      <!-- // document.write(new Date().getFullYear()); -->
      <!--</script>-->
      <!--Club Name. All Rights Reserved.-->
      <!--</div>-->
    </div>

    <div class="small-12 large-3 columns hide-for-small-only show-report-sidebar ">
      <div class="expanded row">
        <h5 class="show-widget-heading">
          More Club Adventures
        </h5>
        <div class="show-widget-container">
          <div data-app_id="<%= ENV['YAZDA_API_KEY'] %>"
               data-club_id="<%= @report.club.yazda_club_id %>"
               data-theme="dark"
               data-background="1a1a1a"
               data-page_size="3"
               class="yazda-adventure-widget">
          </div>
          <script type="text/javascript" src="https://api.yazdaapp.com/assets/widgets.js"></script>
          <p class="show-widget-spacer">
            !!!This is a spacer to prevent sticky element from contracting.!!!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
