<% if flash[:alert] %>
    <div id="volunteer-error" class="volunteer-error" data-closable><%= flash[:alert] %>
      <button class="close-button" data-close aria-label="Close error" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>
<% if flash[:notice] %>
    <div id="volunteer-notice" class="volunteer-notice" title="Close notice" data-closable><%= flash[:notice] %>
      <button class="close-button" data-close aria-label="Close notice" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>
