<div class="reveal" id="reveal-email-volunteer" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div id="email-form">
    <%= render 'volunteers/email_form' %>
  </div>
</div>
