<div class="tiny reveal reveal-availability" id="reveal-filter-availability" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="reveal-heading">Availability Filter<span class="help-text">Select volunteer dates and times.</span>
    </h4>

    <div class="availability">
        <div class="row header">
            <div class="small-3 columns">
                <div class="heading calendar">
                    <i class="ion-calendar"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="heading">Mor
                    <i class="ion-ios-arrow-down"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="heading">Aft
                    <i class="ion-ios-arrow-down"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="heading">Eve
                    <i class="ion-ios-arrow-down"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <div class="heading">Mon
                    <i class="ion-ios-arrow-right"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_monday_morning"><input name="user[monday_morning]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[monday_morning]" id="user_monday_morning" type="checkbox">
                        <label class="boolean optional" for="user_monday_morning">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_monday_afternoon"><input name="user[monday_afternoon]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[monday_afternoon]" id="user_monday_afternoon" type="checkbox">
                        <label class="boolean optional" for="user_monday_afternoon">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_monday_evening"><input name="user[monday_evening]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[monday_evening]" id="user_monday_evening" type="checkbox">
                        <label class="boolean optional" for="user_monday_evening">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <div class="heading">Tue
                    <i class="ion-ios-arrow-right"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_tuesday_morning"><input name="user[tuesday_morning]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[tuesday_morning]" id="user_tuesday_morning" type="checkbox">
                        <label class="boolean optional" for="user_tuesday_morning">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_tuesday_afternoon"><input name="user[tuesday_afternoon]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[tuesday_afternoon]" id="user_tuesday_afternoon" type="checkbox">
                        <label class="boolean optional" for="user_tuesday_afternoon">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_tuesday_evening"><input name="user[tuesday_evening]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[tuesday_evening]" id="user_tuesday_evening" type="checkbox">
                        <label class="boolean optional" for="user_tuesday_evening">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                <div class="heading">Wed
                    <i class="ion-ios-arrow-right"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_wednesday_morning"><input name="user[wednesday_morning]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[wednesday_morning]" id="user_wednesday_morning" type="checkbox">
                        <label class="boolean optional" for="user_wednesday_morning">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_wednesday_afternoon"><input name="user[wednesday_afternoon]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[wednesday_afternoon]" id="user_wednesday_afternoon" type="checkbox">
                        <label class="boolean optional" for="user_wednesday_afternoon">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_wednesday_evening"><input name="user[wednesday_evening]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[wednesday_evening]" id="user_wednesday_evening" type="checkbox">
                        <label class="boolean optional" for="user_wednesday_evening">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                <div class="heading">Thu
                    <i class="ion-ios-arrow-right"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_thursday_morning"><input name="user[thursday_morning]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[thursday_morning]" id="user_thursday_morning" type="checkbox">
                        <label class="boolean optional" for="user_thursday_morning">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_thursday_afternoon"><input name="user[thursday_afternoon]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[thursday_afternoon]" id="user_thursday_afternoon" type="checkbox">
                        <label class="boolean optional" for="user_thursday_afternoon">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_thursday_evening"><input name="user[thursday_evening]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[thursday_evening]" id="user_thursday_evening" type="checkbox">
                        <label class="boolean optional" for="user_thursday_evening">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                <div class="heading">Fri
                    <i class="ion-ios-arrow-right"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_friday_morning"><input name="user[friday_morning]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[friday_morning]" id="user_friday_morning" type="checkbox">
                        <label class="boolean optional" for="user_friday_morning">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_friday_afternoon"><input name="user[friday_afternoon]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[friday_afternoon]" id="user_friday_afternoon" type="checkbox">
                        <label class="boolean optional" for="user_friday_afternoon">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_friday_evening"><input name="user[friday_evening]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[friday_evening]" id="user_friday_evening" type="checkbox">
                        <label class="boolean optional" for="user_friday_evening">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                <div class="heading">Sat
                    <i class="ion-ios-arrow-right"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_saturday_morning"><input name="user[saturday_morning]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[saturday_morning]" id="user_saturday_morning" type="checkbox">
                        <label class="boolean optional" for="user_saturday_morning">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_saturday_afternoon"><input name="user[saturday_afternoon]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[saturday_afternoon]" id="user_saturday_afternoon" type="checkbox">
                        <label class="boolean optional" for="user_saturday_afternoon">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_saturday_evening"><input name="user[saturday_evening]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[saturday_evening]" id="user_saturday_evening" type="checkbox">
                        <label class="boolean optional" for="user_saturday_evening">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                <div class="heading">Sun
                    <i class="ion-ios-arrow-right"></i>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_sunday_morning"><input name="user[sunday_morning]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[sunday_morning]" id="user_sunday_morning" type="checkbox">
                        <label class="boolean optional" for="user_sunday_morning">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_sunday_afternoon"><input name="user[sunday_afternoon]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[sunday_afternoon]" id="user_sunday_afternoon" type="checkbox">
                        <label class="boolean optional" for="user_sunday_afternoon">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="small-3 columns">
                <div class="volunteer-checkbox-radio">
                    <div class="input boolean optional user_sunday_evening"><input name="user[sunday_evening]" value="0" type="hidden"><input class="boolean optional" value="1" name="user[sunday_evening]" id="user_sunday_evening" type="checkbox">
                        <label class="boolean optional" for="user_sunday_evening">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
