<% if current_user && !@volunteer.present? && current_user.leader_clubs %>
    <!-- BEGIN OFF-CANVAS MENU -->
    <div class="off-canvas position-left reveal-for-large" id="offCanvasLeft" data-off-canvas>
      <!-- Close Button -->
      <button class="close-button hide-for-large" aria-label="Close menu" data-close title="Close Menu">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- Logo -->
      <div class="off-canvas-logo">
        <%= link_to :root do %>
            <%= image_tag 'logos/yazda_text_only.svg', class: '' %>
        <% end %>
      </div>
      <!-- Menu -->
      <ul class="vertical menu">
        <%= active_link_to root_url, wrap_tag: :li, active: :exclusive do %>
            <i class="ion-android-time"></i>
            <span>Dashboard</span>
        <% end %>
        <%= active_link_to adventures_path, wrap_tag: :li do %>
            <i class="icon-adventures"></i>
            <span>Adventures</span>
        <% end if policy(Adventure).index? %>
        <%= active_link_to volunteers_path, wrap_tag: :li do %>
            <i class="ion-ios-people"></i>
            <span>Volunteers</span>
        <% end if policy(Volunteer).index? %>
        <% if policy(Report).index? %>
            <%= active_link_to reports_path, wrap_tag: :li do %>
                <i class="ion-document"></i>
                <span>Reports</span>
            <% end %>
        <% end %>
        <%= active_link_to account_path, wrap_tag: :li do %>
            <i class="ion-toggle"></i>
            <span>Account</span>
        <% end %>
        <li>
          <%= link_to :logout, method: :delete do %>
              <i class="ion-log-out"></i>
              <span>Log Out</span>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- END OFF-CANVAS MENU -->
<% end %>
