<% if current_user && !@volunteer.present? && current_user.leader_clubs %>
    <!-- BEGIN HEADER -->
    <header>
      <div class="top-bar main-header">

        <!-- Off-Canvas Toggle -->
        <button class="button off-canvas-btn hide-for-large" data-toggle="offCanvasLeft" title="Open Menu">
          <i class="ion-navicon"></i>
          <span class="sr-only">Menu</span>
        </button>

        <div class="cta-container">
          <% if controller_name == 'adventures' && action_name == 'edit' %>
              <button class="button settings-toggle" title="Adventure settings" data-toggle="settings-panel">
                <i class="ion-android-options"></i></button>
              <% if @adventure.pending? %>
                  <button class="button settings-toggle" title="Add new volunteer" data-open="reveal-add-volunteer">
                    <i class="ion-person-add"></i></button>
              <% end %>
          <% end %>

          <% if controller_name == 'clubs' && action_name == 'edit' %>
              <%= active_link_to account_path, class: "button settings-toggle", title: "Back to account", style: "display: none;" do %>
                  <i class="ion-android-arrow-back"></i>
              <% end %>
          <% end %>

          <% if controller_name == 'accounts' && ['show', 'update'].include?(action_name) %>
              <button class="button settings-toggle" title="Set availability and skill tags" data-toggle="settings-panel">
                <i class="ion-android-options"></i></button>
          <% end %>

          <% if (controller_name == 'adventures' ||
              controller_name == 'volunteers') && action_name == 'index' %>
              <% if controller_name == 'adventures' %>
                  <%= link_to adventures_path({ format: :csv }.merge(params.permit(:filter, :q, :start_date, :end_date))),
                              class: "button settings-toggle download",
                              title: "Download CSV data" do %>
                      <i class="ion-android-download"></i>
                  <% end %>

                  <% if policy(Adventure).new? %>
                      <%= link_to new_adventure_path,
                                  class: "button add-adventure",
                                  title: "Add an adventure" do %>
                          <i class="icon-adventure-add"></i>
                      <% end %>
                  <% end %>
              <% end %>

              <% if controller_name == 'volunteers' %>
                  <%= link_to volunteers_path({ format: :csv }.merge(params.permit(:filter, :q, :start_date, :end_date))),
                              class: 'button settings-toggle download',
                              title: 'Download CSV data' do %>
                      <i class="ion-android-download"></i>

                  <% end %>
              <% end %>
              <button class="button search-toggle" title="Search for adventure or volunteer"
                      data-toggle="search-panel">
                <i class="ion-ios-search-strong"></i></button>
          <% end %>
          <% if controller_name == 'volunteers' && action_name =='index' %>
              <button class="button settings-toggle" title="Add new volunteer" data-open="reveal-add-volunteer">
                <i class="ion-person-add"></i></button>
              <button class="button settings-toggle" title="Email selected volunteers" data-open="reveal-email-volunteer">
                <i class="ion-email"></i></button>
          <% end %>
          <% if controller_name == 'reports' && action_name =='edit' %>
              <button class="button search-toggle" title="Share this report"
                      data-open="reveal-share-report-<%= @report.id %>">
                <i class="ion-android-share-alt"></i>
              </button>
              <button class="button search-toggle" title="Settings for report"
                      data-toggle="report-filter-panel">
                <i class="ion-android-options"></i>
              </button>
          <% end %>
        </div>

        <!-- Profile Image -->
        <%= link_to account_path, class: "user-avatar sm" do %>
            <%= yazda_image_tag current_user.profile_image_url, title: 'Account' %>
        <% end %>

        <!-- Club Select Dropdown -->
        <% if current_user.enabled_clubs.length > 1 %>
            <button class="button hollow balanced small select-club-btn float-right" data-toggle="club-list-select" title="Select A Club">
              <%= current_user.selected_club&.name || 'Select a Club' %>
              <i class="ion-chevron-down"></i>
            </button>
            <div class="dropdown-pane select-club-pane bottom" id="club-list-select" data-dropdown data-close-on-click="true">
              <ul class="menu vertical">
                <% current_user.enabled_clubs.each do |club| %>
                    <li>
                      <%= link_to select_club_path(club.id), method: :patch do %>
                          <i class="icon-clubs"></i>
                          <span><%= club['name'] %></span>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
    </header>
    <!-- END HEADER -->
<% end %>
