<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#303030;min-height:100%;transition:all .1s linear">
<head style="transition:all .1s linear">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="transition:all .1s linear">
  <meta name="viewport" content="width=device-width" style="transition:all .1s linear">
</head>
<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;box-sizing:border-box;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;min-width:100%;padding:0;text-align:left;transition:all .1s linear;width:100%!important">
<style>@media only screen and (max-width: 620px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important
  }

  .small-text-center {
    text-align: center !important
  }

  .small-text-left {
    text-align: left !important
  }

  .small-text-right {
    text-align: right !important
  }
}

@media only screen and (max-width: 620px) {
  table.body table.container .hide-for-large {
    display: block !important;
    width: auto !important;
    overflow: visible !important
  }
}

@media only screen and (max-width: 620px) {
  table.body table.container .row.hide-for-large {
    display: table !important;
    width: 100% !important
  }
}

@media only screen and (max-width: 620px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden
  }
}

@media only screen and (max-width: 620px) {
  table.body img {
    width: auto !important;
    height: auto !important
  }

  table.body center {
    min-width: 0 !important
  }

  table.body .container {
    width: 95% !important
  }

  table.body .column, table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px !important;
    padding-right: 20px !important
  }

  table.body .column .column, table.body .column .columns, table.body .columns .column, table.body .columns .columns {
    padding-left: 0 !important;
    padding-right: 0 !important
  }

  table.body .collapse .column, table.body .collapse .columns {
    padding-left: 0 !important;
    padding-right: 0 !important
  }

  td.small-1, th.small-1 {
    display: inline-block !important;
    width: 8.33333% !important
  }

  td.small-2, th.small-2 {
    display: inline-block !important;
    width: 16.66667% !important
  }

  td.small-3, th.small-3 {
    display: inline-block !important;
    width: 25% !important
  }

  td.small-4, th.small-4 {
    display: inline-block !important;
    width: 33.33333% !important
  }

  td.small-5, th.small-5 {
    display: inline-block !important;
    width: 41.66667% !important
  }

  td.small-6, th.small-6 {
    display: inline-block !important;
    width: 50% !important
  }

  td.small-7, th.small-7 {
    display: inline-block !important;
    width: 58.33333% !important
  }

  td.small-8, th.small-8 {
    display: inline-block !important;
    width: 66.66667% !important
  }

  td.small-9, th.small-9 {
    display: inline-block !important;
    width: 75% !important
  }

  td.small-10, th.small-10 {
    display: inline-block !important;
    width: 83.33333% !important
  }

  td.small-11, th.small-11 {
    display: inline-block !important;
    width: 91.66667% !important
  }

  td.small-12, th.small-12 {
    display: inline-block !important;
    width: 100% !important
  }

  .column td.small-12, .column th.small-12, .columns td.small-12, .columns th.small-12 {
    display: block !important;
    width: 100% !important
  }

  .body .column td.small-1, .body .column th.small-1, .body .columns td.small-1, .body .columns th.small-1, td.small-1 center, th.small-1 center {
    display: inline-block !important;
    width: 8.33333% !important
  }

  .body .column td.small-2, .body .column th.small-2, .body .columns td.small-2, .body .columns th.small-2, td.small-2 center, th.small-2 center {
    display: inline-block !important;
    width: 16.66667% !important
  }

  .body .column td.small-3, .body .column th.small-3, .body .columns td.small-3, .body .columns th.small-3, td.small-3 center, th.small-3 center {
    display: inline-block !important;
    width: 25% !important
  }

  .body .column td.small-4, .body .column th.small-4, .body .columns td.small-4, .body .columns th.small-4, td.small-4 center, th.small-4 center {
    display: inline-block !important;
    width: 33.33333% !important
  }

  .body .column td.small-5, .body .column th.small-5, .body .columns td.small-5, .body .columns th.small-5, td.small-5 center, th.small-5 center {
    display: inline-block !important;
    width: 41.66667% !important
  }

  .body .column td.small-6, .body .column th.small-6, .body .columns td.small-6, .body .columns th.small-6, td.small-6 center, th.small-6 center {
    display: inline-block !important;
    width: 50% !important
  }

  .body .column td.small-7, .body .column th.small-7, .body .columns td.small-7, .body .columns th.small-7, td.small-7 center, th.small-7 center {
    display: inline-block !important;
    width: 58.33333% !important
  }

  .body .column td.small-8, .body .column th.small-8, .body .columns td.small-8, .body .columns th.small-8, td.small-8 center, th.small-8 center {
    display: inline-block !important;
    width: 66.66667% !important
  }

  .body .column td.small-9, .body .column th.small-9, .body .columns td.small-9, .body .columns th.small-9, td.small-9 center, th.small-9 center {
    display: inline-block !important;
    width: 75% !important
  }

  .body .column td.small-10, .body .column th.small-10, .body .columns td.small-10, .body .columns th.small-10, td.small-10 center, th.small-10 center {
    display: inline-block !important;
    width: 83.33333% !important
  }

  .body .column td.small-11, .body .column th.small-11, .body .columns td.small-11, .body .columns th.small-11, td.small-11 center, th.small-11 center {
    display: inline-block !important;
    width: 91.66667% !important
  }

  table.body td.small-offset-1, table.body th.small-offset-1 {
    margin-left: 8.33333% !important;
    Margin-left: 8.33333% !important
  }

  table.body td.small-offset-2, table.body th.small-offset-2 {
    margin-left: 16.66667% !important;
    Margin-left: 16.66667% !important
  }

  table.body td.small-offset-3, table.body th.small-offset-3 {
    margin-left: 25% !important;
    Margin-left: 25% !important
  }

  table.body td.small-offset-4, table.body th.small-offset-4 {
    margin-left: 33.33333% !important;
    Margin-left: 33.33333% !important
  }

  table.body td.small-offset-5, table.body th.small-offset-5 {
    margin-left: 41.66667% !important;
    Margin-left: 41.66667% !important
  }

  table.body td.small-offset-6, table.body th.small-offset-6 {
    margin-left: 50% !important;
    Margin-left: 50% !important
  }

  table.body td.small-offset-7, table.body th.small-offset-7 {
    margin-left: 58.33333% !important;
    Margin-left: 58.33333% !important
  }

  table.body td.small-offset-8, table.body th.small-offset-8 {
    margin-left: 66.66667% !important;
    Margin-left: 66.66667% !important
  }

  table.body td.small-offset-9, table.body th.small-offset-9 {
    margin-left: 75% !important;
    Margin-left: 75% !important
  }

  table.body td.small-offset-10, table.body th.small-offset-10 {
    margin-left: 83.33333% !important;
    Margin-left: 83.33333% !important
  }

  table.body td.small-offset-11, table.body th.small-offset-11 {
    margin-left: 91.66667% !important;
    Margin-left: 91.66667% !important
  }

  table.body table.columns td.expander, table.body table.columns th.expander {
    display: none !important
  }

  table.body .right-text-pad, table.body .text-pad-right {
    padding-left: 10px !important
  }

  table.body .left-text-pad, table.body .text-pad-left {
    padding-right: 10px !important
  }

  table.menu {
    width: 100% !important
  }

  table.menu td, table.menu th {
    width: auto !important;
    display: inline-block !important
  }

  table.menu.small-vertical td, table.menu.small-vertical th, table.menu.vertical td, table.menu.vertical th {
    display: block !important
  }

  table.menu[align=center] {
    width: auto !important
  }

  table.button.expand {
    width: 100% !important
  }
}

@media only screen and (max-width: 620px) {
  .logo {
    max-width: 225px
  }

  .badge-list-item {
    width: 100%;
    display: block;
    padding: 10px 0;
    margin: 5px 0 0
  }

  .notification-adventure-time {
    margin-top: -10px !important
  }

  .notification-adventure-type {
    margin-left: 5px !important
  }

  .notification-adventure-location, .notification-adventure-name, .notification-adventure-time {
    text-align: left !important
  }

  .notification-adventure-name {
    margin-top: 0 !important
  }

  .inner-wrapper {
    padding: 0 !important
  }

  .notification-tracking-club-name {
    display: block;
    float: none
  }

  .notification-tracking-adventure-time {
    display: block;
    width: 100%;
    text-align: left !important;
    float: none
  }
}</style>
<table class="body" style="Margin:0;background:#303030;border-collapse:collapse;border-spacing:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
  <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
    <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word">
      <center data-parsed="" style="min-width:600px;transition:all .1s linear;width:100%"><!-- CONDITIONAL FOR ANTICHRIST OUTLOOK 2009-2013 --><!--[if gte mso 9]>
      <style type="text/css">
        .adventure-leader-badge {
          display: none !important;
        }

        .sr-only {
          display: none !important;
        }

        .avatar {
          background-color: transparent !important;
        }
      </style>
      <![endif]--><!-- BEGIN HEADER -->
        <table class="container text-center" style="Margin:0 auto;background:0 0;border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:center;transition:all .1s linear;vertical-align:top;width:600px">
          <tbody style="transition:all .1s linear">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word">
              <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                <tbody style="transition:all .1s linear">
                <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                  <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:20px;text-align:left;transition:all .1s linear;width:580px">
                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                      <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                        <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
                          <center class="header" data-parsed="" style="background:#8a8a8a;background-color:transparent;margin:20px 0 0;min-width:540px;transition:all .1s linear;width:100%">
                            <div class="logo text-center" align="center" style="transition:all .1s linear;width:275px">
                              <a href="https://volunteers.yazdaapp.com/"
                                 style="Margin:0;color:#299855;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear">
                                <%= image_tag "emails/yazda_full_horizontal-2.png",
                                              alt:   "Yazda logo",
                                              style: "-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %></a>
                            </div>
                          </center>
                        </th>
                        <th class="expander" style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0!important;text-align:left;transition:all .1s linear;visibility:hidden;width:0"></th>
                      </tr>
                    </table>
                  </th>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table><!-- END HEADER --><!-- BEGIN BODY -->
        <table class="container notification-body-wrapper text-center" style="Margin:0 auto;background:0 0;background-color:#1a1a1a!important;border-collapse:collapse;border-spacing:0;margin:0 auto;margin-bottom:30px;padding:0;text-align:center;transition:all .1s linear;vertical-align:top;width:600px">
          <tbody style="transition:all .1s linear">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word">
              <%= yield %>
            </td>
          </tr>
          </tbody>
        </table><!-- END BODY --><!-- BEGIN FOOTER -->
        <table class="container text-center" style="Margin:0 auto;background:0 0;border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:center;transition:all .1s linear;vertical-align:top;width:600px">
          <tbody style="transition:all .1s linear">
          <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word"><!-- APP DOWNLOAD -->
              <h6 class="text-center section-title" style="Margin:0;Margin-bottom:10px;color:#8a8a8a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;hyphens:none;line-height:1em;margin:0;margin-bottom:15px;padding:0;text-align:center;transition:all .1s linear;word-wrap:normal">Download
                Our Apps</h6>
              <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                <tbody style="transition:all .1s linear">
                <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                  <th class="small-12 large-6 columns first" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:10px;text-align:left;transition:all .1s linear;width:280px">
                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                      <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                        <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
                          <div class="app-icon" style="display:inline;float:left;margin-right:15px;transition:all .1s linear;width:75px">
                            <a href="https://bnc.lt/yazda" title="Download from App Store or Google Play" target="_blank" style="Margin:0;color:#299855;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear">
                              <%= image_tag "emails/YazdaAppIcon.png",
                                            alt:   "Yazda app icon",
                                            style: "-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %></a>
                          </div>
                          <div class="app-info" style="transition:all .1s linear">
                            <p style="Margin:0;Margin-bottom:20px;color:#d2d3d5;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:0;padding:0;text-align:left;transition:all .1s linear">
                              <strong style="transition:all .1s linear">Yazda</strong>
                            </p>
                            <p style="Margin:0;Margin-bottom:20px;color:#d2d3d5;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:0;padding:0;text-align:left;transition:all .1s linear">Find
                              your next mountain biking or hiking adventure.</p>
                            <a href="https://bnc.lt/yazda" title="Download from App Store or Google Play" target="_blank" style="Margin:0;color:#299855;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear">Download</a>
                          </div>
                        </th>
                      </tr>
                    </table>
                  </th>
                  <th class="small-12 large-6 columns last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:10px;padding-right:20px;text-align:left;transition:all .1s linear;width:280px">
                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                      <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                        <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
                          <div class="app-icon" style="display:inline;float:left;margin-right:15px;transition:all .1s linear;width:75px">
                            <a href="https://bnc.lt/m/quEQxwC2zo" title="Download from App Store or Google Play" target="_blank" style="Margin:0;color:#299855;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear">
                              <%= image_tag "emails/TrailStatusAppIcon.png",
                                            alt:   "Trail Status app icon",
                                            style: "-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %></a>
                          </div>
                          <div class="app-info" style="transition:all .1s linear">
                            <p style="Margin:0;Margin-bottom:20px;color:#d2d3d5;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:0;padding:0;text-align:left;transition:all .1s linear">
                              <strong style="transition:all .1s linear">Trail
                                Status</strong></p>
                            <p style="Margin:0;Margin-bottom:20px;color:#d2d3d5;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:none;line-height:1.2em;margin:0;margin-bottom:0;padding:0;text-align:left;transition:all .1s linear">Get
                              up-to-date conditions for select trails.</p>
                            <a href="https://bnc.lt/m/quEQxwC2zo" title="Download from App Store or Google Play" target="_blank" style="Margin:0;color:#299855;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear">Download</a>
                          </div>
                        </th>
                      </tr>
                    </table>
                  </th>
                </tr>
                </tbody>
              </table><!-- END APP DOWNLOAD -->
              <hr style="Margin:20px auto;border-bottom:1px solid #1a1a1a;border-left:0;border-right:0;border-top:0;clear:both;height:0;margin:20px auto 30px;max-width:600px;transition:all .1s linear"><!-- SOCIAL MEDIA LINKS -->
              <center data-parsed="" style="min-width:600px;transition:all .1s linear;width:100%">
                <h6 class="text-center section-title" align="center" style="Margin:0;Margin-bottom:10px;color:#8a8a8a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;hyphens:none;line-height:1em;margin:0;margin-bottom:15px;padding:0;text-align:center;transition:all .1s linear;word-wrap:normal">Find
                  Us On</h6>
                <table class="menu simple social-media-menu text-center" align="center" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:center;transition:all .1s linear;vertical-align:top;width:auto!important">
                  <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                    <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word">
                      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                        <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                          <th class="menu-item float-center" style="Margin:0 auto;color:#fff;float:none;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0 5px!important;padding-right:10px;text-align:center;transition:all .1s linear;width:40px!important">
                            <a href="https://www.facebook.com/yazdaapp/" style="Margin:0;color:#F26530!important;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;opacity:.7;outline:0;padding:0;text-align:center;text-decoration:none;transition:all .1s linear">
                              <%= image_tag "emails/social-media-icons_Facebook.png",
                                            alt:   "Facebook icon",
                                            style: "-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
                              <span class="sr-only" style="display:none!important;transition:all .1s linear">Facebook</span></a>
                          </th>
                          <th class="menu-item float-center" style="Margin:0 auto;color:#fff;float:none;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0 5px!important;padding-right:10px;text-align:center;transition:all .1s linear;width:40px!important">
                            <a href="https://twitter.com/yazda_app" style="Margin:0;color:#F26530!important;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;opacity:.7;outline:0;padding:0;text-align:center;text-decoration:none;transition:all .1s linear">
                              <%= image_tag "emails/social-media-icons_Twitter.png",
                                            alt:   "Twitter icon",
                                            style: "-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
                              <span class="sr-only" style="display:none!important;transition:all .1s linear">Twitter</span></a>
                          </th>
                          <th class="menu-item float-center" style="Margin:0 auto;color:#fff;float:none;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0 5px!important;padding-right:10px;text-align:center;transition:all .1s linear;width:40px!important">
                            <a href="https://www.youtube.com/channel/UCcuKd0jf72qlkiC_Jg-Z2wQ" style="Margin:0;color:#F26530!important;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;opacity:.7;outline:0;padding:0;text-align:center;text-decoration:none;transition:all .1s linear">
                              <%= image_tag "emails/social-media-icons_Youtube.png",
                                            alt:   "Youtube icon",
                                            style: "-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
                              <span class="sr-only" style="display:none!important;transition:all .1s linear">Youtube</span></a>
                          </th>
                          <th class="menu-item float-center" style="Margin:0 auto;color:#fff;float:none;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0 5px!important;padding-right:10px;text-align:center;transition:all .1s linear;width:40px!important">
                            <a href="https://www.instagram.com/yazda_app/" style="Margin:0;color:#F26530!important;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;opacity:.7;outline:0;padding:0;text-align:center;text-decoration:none;transition:all .1s linear">
                              <%= image_tag "emails/social-media-icons_Instagram.png",
                                            alt:   "Instagram icon",
                                            style: "-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
                              <span class="sr-only" style="display:none!important;transition:all .1s linear">Instagram</span></a>
                          </th>
                          <th class="menu-item float-center" style="Margin:0 auto;color:#fff;float:none;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0 5px!important;padding-right:10px;text-align:center;transition:all .1s linear;width:40px!important">
                            <a href="https://yazdaapp.com/" style="Margin:0;
                                color:#F26530!important;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;opacity:.7;outline:0;padding:0;text-align:center;text-decoration:none;transition:all .1s linear">
                              <%= image_tag "emails/social-media-icons_Website.png",
                                            alt:   "Website icon",
                                            style: "-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
                              <span class="sr-only" style="display:none!important;transition:all .1s linear">Website</span></a>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center><!-- END MEDIA LINKS --><!-- SUB FOOTER TEXT -->
              <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                <tbody style="transition:all .1s linear">
                <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                  <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:20px;text-align:left;transition:all .1s linear;width:580px">
                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                      <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                        <th style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0;text-align:left;transition:all .1s linear">
                          <p class="footer-text" style="Margin:0;Margin-bottom:20px;color:#8a8a8a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:1em;margin:0;margin-bottom:20px;margin-top:20px;padding:0;text-align:left;transition:all .1s linear">
                            <small style="color:inherit;font-size:80%;transition:all .1s linear">&#xA9;
                              2017 Yazda LLC, All rights reserved. Please do not
                              reply to this email. You are receiving this email
                              because you created a Yazda account from our
                              mobile app. If you no longer wish to receive
                              emails please update your Yazda email settings or
                              <%= link_to 'unsubscribe', account_url,
                                          style: "Margin:0;color:#299855;font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:700;line-height:1em;margin:0;outline:0;padding:0;text-align:left;text-decoration:none;transition:all .1s linear" %>
                              .
                            </small>
                          </p>
                        </th>
                        <th class="expander" style="Margin:0;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.2em;margin:0;padding:0!important;text-align:left;transition:all .1s linear;visibility:hidden;width:0"></th>
                      </tr>
                    </table>
                  </th>
                </tr>
                </tbody>
              </table><!-- END SUB FOOTER TEXT --></td>
          </tr>
          </tbody>
        </table><!-- END FOOTER --></center>
    </td>
  </tr>
</table>
</body>
</html>
