<div id="settings-panel" class="settings-panel" data-toggler data-animate="fade-in fade-out" data-closable>
  <div class="panel-inner">
    <button class="close-button" title="Close panel" data-close>&times;</button>

    <h4 class="panel-heading skillset" aria-describedby="skill-count">How
      can you help?</h4>

    <%= simple_form_for current_user, url: account_path,
                        class:             "filter-search-form" do |f| %>
        <%= f.input :skill_list,
                    label:      false,
                    hint:       'Type to add skill tags and press enter. Backspace
                    to delete.',
                    input_html: {
                        placeholder: "Type to add tag...",
                        value: f.object.skill_list.to_s
                    } %>

        <hr></hr>

        <h4 class="panel-heading">Availability
          <p class="help-text" id="tag-help-text">
            Set your time of day for availability.
          </p>
        </h4>

        <div class="availability">
          <div class="row header">
            <div class="small-3 columns">
              <div class="heading calendar">
                <i class="ion-calendar"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="heading">Mor
                <i class="ion-ios-arrow-down"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="heading">Aft
                <i class="ion-ios-arrow-down"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="heading">Eve
                <i class="ion-ios-arrow-down"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Mon
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :monday_morning, label: '&nbsp;'.html_safe,
                            boolean_style:          :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :monday_afternoon, label: '&nbsp;'.html_safe,
                            boolean_style:            :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :monday_evening, label: '&nbsp;'.html_safe,
                            boolean_style:          :inline %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Tue
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :tuesday_morning, label: '&nbsp;'.html_safe,
                            boolean_style:           :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :tuesday_afternoon, label: '&nbsp;'.html_safe,
                            boolean_style:             :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :tuesday_evening, label: '&nbsp;'.html_safe,
                            boolean_style:           :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Wed
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :wednesday_morning, label: '&nbsp;'.html_safe,
                            boolean_style:             :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :wednesday_afternoon, label: '&nbsp;'.html_safe,
                            boolean_style:               :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :wednesday_evening, label: '&nbsp;'.html_safe,
                            boolean_style:             :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Thu
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :thursday_morning, label: '&nbsp;'.html_safe,
                            boolean_style:            :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :thursday_afternoon, label: '&nbsp;'.html_safe,
                            boolean_style:              :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :thursday_evening, label: '&nbsp;'.html_safe,
                            boolean_style:            :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Fri
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :friday_morning, label: '&nbsp;'.html_safe,
                            boolean_style:          :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :friday_afternoon, label: '&nbsp;'.html_safe,
                            boolean_style:            :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :friday_evening, label: '&nbsp;'.html_safe,
                            boolean_style:          :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Sat
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :saturday_morning, label: '&nbsp;'.html_safe,
                            boolean_style:            :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :saturday_afternoon, label: '&nbsp;'.html_safe,
                            boolean_style:              :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :saturday_evening, label: '&nbsp;'.html_safe,
                            boolean_style:            :inline %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <div class="heading">Sun
                <i class="ion-ios-arrow-right"></i>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :sunday_morning, label: '&nbsp;'.html_safe,
                            boolean_style:          :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :sunday_afternoon, label: '&nbsp;'.html_safe,
                            boolean_style:            :inline %>
              </div>
            </div>
            <div class="small-3 columns">
              <div class="volunteer-checkbox-radio">
                <%= f.input :sunday_evening, label: '&nbsp;'.html_safe,
                            boolean_style:          :inline %>
              </div>
            </div>
          </div>
        </div>

        <%= f.submit 'Save', class: "button energized panel-save-btn" %>
    <% end %>

  </div>
</div>
