<%= render 'accounts/edit_settings_account' %>

<div class="container">

  <div class="expanded row banner-show">
    <div class="show-adventure-background"></div>
    <div class="media-object stack-for-small show-content">
      <div class="media-object-section middle">
        <div class="user-avatar profile">
          <%= yazda_image_tag current_user.profile_image_url %>
        </div>
      </div>
      <div class="media-object-section middle">
        <h3 class="show-user-name"><%= current_user.name %></h3>
        <h4 class="show-skills">
          <div class="volunteer-skills">
            <% current_user.skills.each do |s| %>
                <div class='tag-item'><%= s %></div>
            <% end %>
          </div>
        </h4>
      </div>
    </div>
  </div>

  <div class="expanded row">

    <div class="small-12 large-4 large-push-8 columns">
      <%= render 'incentives/incentives' %>
    </div>

    <div class="small-12 large-8 large-pull-4 columns">
      <div class="expanded row card-container" data-equalizer data-equalize-on="medium">
        <% @clubs.each do |club| %>
            <article class="card-wrapper">
              <div class="card" data-equalizer-watch>

                <%= link_to edit_club_path(club), class: "button club-edit-btn", title: "Edit club" do %>
                    <i class="ion-gear-a"></i>
                <% end %>

                <div class="card-background" style="background-image: url(<%= club.banner_image_url %>)"></div>

                <div class="card-header">
                  <div class="user-avatar md"><%= yazda_image_tag club.profile_image_url %></div>
                </div>

                <div class="card-info">
                  <h5 class="club-name">
                    <%= link_to edit_club_path(club) do %>
                        <%= club.name %>
                    <% end %>
                  </h5>
                </div>

                <% if club.enabled? %>
                    <!--TODO: Mark, we will have other statuses in the future-->
                    <!--payment declined-->
                    <div class="tracking enabled" title="Time Tracking: Enabled"><%= club.club_status.capitalize %></div>
                <% end %>
              </div>
            </article>
        <% end %>
      </div>
    </div>
  </div>
</div>
